* {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color:hsl(216, 9%, 89%);
        --font-color-c:hsl(213, 4%, 58%);
        --border:0.2vw solid hsl(0, 0%, 29%);
        --background:hsl(240, 2%, 10%);
        --background-back:hsl(0, 0%, 4%);
        --background-hover:hsl(240, 1%, 14%);
        --background-green:hsl(240, 1%, 14%);
        --skeleton-start:hsl(240, 1%, 14%);
        --skeleton-end:hsl(240, 1%, 34%);
        --popup-background:rgb(0,0,0,25%);
        --green: #20C29E;
        --green-hover:hsl(165, 100%, 25%);
        --exist:hsl(209, 100%, 55%);
        --exist-hover:hsl(215, 88%, 38%);
        --red:hsl(12, 91%, 57%);
        --scroll:hsl(0, 0%, 33%);
        --scroll-hover:hsl(0, 0%, 81%);
    }
}
  
@media (prefers-color-scheme: light) {
    :root {
        --font-color:hsl(214, 24%, 11%);
        --font-color-c:hsl(225, 4%, 58%);
        --border:0.2vw solid hsl(210, 17%, 88%);
        --background:hsl(0, 0%, 100%);
        --background-back:hsl(216, 14%, 93%);
        --background-hover:hsl(0, 0%, 98%);
        --background-green:hsl(120, 100%, 97%);
        --skeleton-start:hsl(0, 0%, 70%);
        --skeleton-end:hsl(0, 0%, 88%);
        --popup-background:rgb(0,0,0,10%);
        --green:hsl(165, 99%, 35%);
        --green-hover:hsl(165, 100%, 25%);
        --exist:hsl(209, 100%, 55%);
        --exist-hover:hsl(215, 88%, 38%);
        --red:hsl(12, 91%, 57%);
        --scroll:hsl(0, 0%, 81%);
        --scroll-hover:hsl(0, 0%, 33%);
    }
}

::-webkit-scrollbar {
    width: 0.18125vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 0.18125vw;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}

a {
    display: block;
    text-decoration: none;
    color: var(--font-color);
}

html {
    overflow-y: overlay;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

button,input,input:focus {
    background-color: transparent;
    border: 0 none;
    font-family: 'Segoe UI', sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-radius: none;
    outline: none;
}

body {
    position: relative;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background-back);
    color:var(--font-color);
    padding-bottom: 30.1vw;
    overflow-x: hidden;
    overflow:hidden;
}

h1,h2,h3,h4,h5,h6,p {
    color: var(--font-color);
}

header.main-block-1 {
    width: 100vw;
    height: auto;
    background-color: var(--background);
    border-radius: 0 0 4.17vw 4.17vw;
}

div.m-1 {
    display: flex;
    flex-direction: column;
}

div.main-block-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;
}

div.m-g-1 {
    flex: 1;
    padding: 8.33vw 2.78vw 8.33vw 2.78vw;
    height: auto;
    display: grid;
    grid-template-columns: 47.2vw 47.2vw;
}

div#first {
    padding-left: 2.78vw;
    order: 1;
    margin-bottom: 8.3vw;
}

div#second {
    order: 3;
}

div#third {
    padding-right: 2.78vw;
    order: 2;
}

div.m-f-1 {
    padding-top: 1.6vw;
    display: flex;
    align-items: center;
    height: 8.94vw;
}

div.m-f-i-1 {
    position: relative;
    width: 8.8vw;
    height: 8.8vw;
}

img.m-p-i-1 {
    position: absolute;
    width: 8.8vw;
    height: 8.8vw;
}

div.m-f-b {
    margin-left: 3.49vw;
}

div.m-f-b-1 {
    border-left: var(--border);
    height: 6.23vw;
}

div.m-f-t {
    margin-left: 3.49vw;
}

h1.m-f-t-1 {
    font-size: 4.72vw;
    font-weight: 300;
}

div.m-s-fixed {
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:100;
    backdrop-filter: blur(1.1vw);
    -webkit-backdrop-filter:blur(1.1vw);
    touch-action: none;
    -ms-touch-action: none;
}

div.m-s {
    position: relative;
    width: 94.4vw;
    height: 16vw;
    z-index:101;
}

div.m-s-flex {
    display:flex;
}

div.m-s-flex-close {
    width: 16.67vw;
    height: 16vw;
    border-radius: 0 4.17vw 4.17vw 0;
    border-right: var(--border);
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: 0.2vw solid transparent;
    font-size:3.056vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--font-color-c)
}

img.m-s-flex-close-i {
    width: 2.78vw;
    height: 2.78vw;
}

input.m-s-1 {
    background: url("images/search-active.svg") 6.69vw 5.3vw no-repeat;
    background-size: 4.46vw auto;
    background-color: var(--background);
    width: 68.47vw;
    height: auto;
    padding: 4.86vw 7.3vw 4.86vw 18.47vw;
    border-radius: 4.17vw;
    border: var(--border);
    outline: none;
    color: var(--font-color);
    font-weight: normal;
    font-size: 4vw;
    font-weight: normal;
    color: var(--font-color-c);
}

input.m-s-1::placeholder {
    color: var(--font-color-c);
    font-size: 4vw;
    font-weight: normal;
}

input.m-s-1-focus {
    background: url("images/search-active.svg") 6.69vw 6vw no-repeat;
    background-size: 4.46vw auto;
    background-color: var(--background);
    width: 52.01vw;
    height: auto;
    padding: 4.86vw 7.3vw 4.86vw 18.47vw;
    border-radius: 4.17vw 0 0 4.17vw;
    border-left: var(--border);
    border-top: var(--border);
    border-bottom: var(--border);
    border-right: 0.2vw solid transparent;
    color: var(--font-color);
    font-weight: normal;
    font-size:4vw;
}


div.m-p-i {
    width: 100%;
}

div.m-p-i-b {
    height: 12.9vw;
    display: flex;
    float: right;
}

div.m-p-i-b-v {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6.48vw;
    padding: 1.6vw;
    cursor: pointer;
}

div.m-p-i-b-v:hover {
    border-radius: 20%;
    background-color: var(--background-hover);
}

div.m-p-i-b-v-i {
    position: relative;
    width: 4.3vw;
    height: 4.3vw;
}

img.m-p-i-b-v-p {
    position: absolute;
    width: 4.3vw;
    height: 4.3vw;
}

div.m-p-i-b-v-t {
    margin-top: 1.5vw;
}

h1.m-p-i-b-v-t-1 {
    font-size: 2.36vw;
    font-weight: 300;
}

div.menu-select {
    padding: 3.3vw 0 6.9vw 0;
    position: fixed;
    z-index: 800;
    width: 100vw;
    height: 14.2vw;
    display: flex;
    justify-content: center;
    background: var(--background);
    bottom: 0;
    border-radius: 4.17vw 4.17vw 0 0;
}

a.menu-s-b {
    display: block;
    width: 20vw;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

a.menu-s-b-active {
    display: block;
    width: 20vw;
    cursor: pointer;
    color: var(--green);
    text-decoration: none;
}

div.menu-s-b-i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.menu-s-b-i-i {
    position: relative;
    width: 5.39vw;
    height: 5.39vw;
}

svg.menu-s-b-i-p {
    position: absolute;
    width: 5.39vw;
    height: 5.39vw;
}

div.menu-s-b-i-t {
    margin-top: 1.69vw;
}

h1.menu-s-b-i-t-1-active {
    color:var(--green);
    font-size: 2.78vw;
    font-weight: normal;
}

h1.menu-s-b-i-t-1 {
    font-size: 2.78vw;
    font-weight: 300;
}

div.panel-select {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 23.8vw);
    padding: 0 2.2vw;
    padding-bottom: 11.94vw;
}

div.panel-s-b {
    width: 23.8vw;
    height: 27.09vw;
    border-radius: 4.17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 2.92vw;
}

div.panel-s-b:hover {
    background-color: var(--background-hover);
}

div.panel-s-b-i {
    position: relative;
    width: 13.3vw;
    height: 13.3vw;
}

img.panel-s-b-p {
    position: absolute;
    width: 13.3vw;
    height: 13.3vw;
    border-radius: 5.28vw;
}

div.panel-s-b-t {
    margin-top: 2.92vw;
}

h1.panel-s-b-t-1 {
    width: 20.7vw;
    font-size: 2.7vw;
    line-height: 4.17vw;
    text-align: center;
    font-weight: normal;
}

/*  */

div.m {
    margin-top: 4.2vw;
    width: 100vw;
    height: auto;
    border-radius: 4.2vw;
    background-color: var(--background);
}

div.m-block {
    width: 100%;
    padding-top: 8.3vw;
}

h1.m-p {
    font-weight: 600;
    font-size: 5.25vw;
    text-align: center;
    color: var(--font-color);
}

h1.m-p-content {
    margin-top:2.25vw;
    font-weight: normal;
    font-size: 2.75vw;
    color: var(--font-color);
    display: flex;
    justify-content: center;
}

a.m-p-content-url {
    font-weight: normal;
    font-size: 2.75vw;
    color: var(--green);
    margin-left: 1.39vw;
}

div.b {
    display: grid;
    grid-template-columns: 50vw 50vw;
    padding: 8.3vw 0;
}

div.m-d-b {
    margin: 1.39vw;
}

a.m-p-b {
    display: block;
    text-decoration: none;
    width: 47.2vw;
    height: 78.83vw;
    background-color: var(--background);
    border-radius: 2.08vw;
    border:var(--border);
    cursor: pointer;
}

a.m-p-b:hover {
    background-color: var(--background-hover);
}

div.m-i-1-1 {
    padding: 2.64vw;
    position: relative;
    width: 41.95vw;
    height: 41.95vw;
}

img.m-i {
    position: absolute;
    width: 41.95vw;
    height: 41.95vw;
    object-fit: cover;
}

div.m-t-p {
    margin: 3.36vw 2.64vw 0 2.64vw;
}

h1.m-t {
    height: 9.44vw;
    font-size: 3.33vw;
    line-height: 5vw;
    font-weight: normal;
}

div.m-t-loader {
    width: 38.3vw;
    height:3.17vw;
    border-radius: 2.08vw;
}

div.m-t-1-loader {
    margin-top:3.39vw;
    width: 28.06vw;
    height:3.17vw;
    border-radius: 2.08vw;
}

div.l-t-loader {
    width:32.08vw;
    height:2.78vw;
    border-radius: 2.08vw;
}

div.l-p-loader {
    width:19.17vw;
    height:4.4vw;
    border-radius: 2.08vw;
}

div.l-t-p {
    margin-top: 2.65vw;
}

h1.l-t {
    font-size: 2.2vw;
    font-weight: 300;
    color: var(--font-color-c);
}

div.m-l-p {
    width: 100%;
    display: flex;
    align-items: center;
}

h1.l-p {
    font-size: 3.3vw;
    font-weight: 600;
}

div.p-p {
    background-color: var(--background-green);
    display: flex;
    align-items: center;
    width: 9.6vw;
    height: 9.6vw;
    border-radius: 100%;
    justify-content: center;
    margin-left: auto;
}

div.i-p-1 {
    position: relative;
    width: 4.3vw;
    height: 3.3vw;
}

img.p {
    position: absolute;
    width: 4.3vw;
    height: 3.3vw;
}

/*  */

div.maybe-panel {
    margin-top: 4.2vw;
    width: 100vw;
    background-color: var(--background);
    height: auto;
    border-radius: 4.2vw;
    padding: 8.3vw 0;
}

div.maybe-g-p {
    margin-top: 8.3vw;
}

div.maybe-g-p-b {
    width: 97.2vw;
    margin: 2.78vw 1.39vw;
}

div.maybe-g-p-b1 {
    background-color: var(--background);
    border: var(--border);
    border-radius: 2.08vw;
    cursor: pointer;
}

div.maybe-g-p-b1:hover {
    border: 0.2vw solid var(--green-hover);
}

div.maybe-flex {
    display: flex;
}

div.maybe-flex-picture {
    position: relative;
    width: 43.19vw;
    height: 43.19vw;
    margin: 2.22vw;
}

img.maybe-flex-image {
    position: absolute;
    width: 43.19vw;
    height: 43.19vw;
    object-fit: cover;
}

div.maybe-flex-container {
    width: 49.58vw;
}

h1.b-t1 {
    font-size: 3.47vw;
    line-height: 5.56vw;
    height: 10.14vw;
    font-weight: normal;
    margin: 8.3vw 0 0 3.3vw;
}

h1.b-t2 {
    font-size: 2.36vw;
    font-weight: 300;
    margin: 3.3vw;
    color: var(--font-color-c);
}

div.maybe-f-b {
    display: flex;
}

h1.b-t3 {
    font-size: 3.6vw;
    font-weight: 600;
    margin: 2.92vw 0 0 3.3vw;
    width: 27vw;
}

div.b-i-p {
    margin: 4.17vw 0 0 3.05vw;
}

div.b-p-p {
    background-color: var(--background-green);
    display: flex;
    align-items: center;
    width: 11.39vw;
    height: 11.39vw;
    border-radius: 100%;
    justify-content: center;
}

/*  */

div.b-f-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.17vw;
    width: 100vw;
    height: 100vw;
    border-radius: 4.17vw;
    background-color: var(--background);
}

div.o-b-f {
    width: 45vw;
    height: 30.5vw;
    background-color: var(--background);
    margin: 0 auto;
}

h1.f-o-f {
    font-size: 26.1vw;
    font-weight: 600;
}

div.t-b-t {
    margin-top: 6vw;
    text-align: center;
}

div.p-t-n-h {
    height: 7.36vw;
}

h1.t-n-h {
    font-size: 6.25vw;
    font-weight: 600;
}

div.n-a-w-p {
    width: 86.52vw;
    height: 4.58vw;
}

h1.n-a-w {
    color: var(--font-color-c);
    font-size: 3.88vw;
    font-weight: normal;
    margin-bottom: 7.2vw;
}


button.btn {
    padding: 4vw 6vw;
    font-size: 3.61vw;
    font-weight: 600;
    background-color: var(--background-back);
    border: none;
    margin-top: 4.08vw;
    cursor: pointer;
    border-radius: 4.8vw;
}

button.btn:hover {
    background-color: var(--green-hover);
    color: var(--background);
}

div.mobile-shop-info {
    margin-left: auto;
    margin-right: auto;
    width: 96.89vw;
    height: auto;
    -webkit-border-radius:2.08vw;
    border-radius: 2.08vw;
    border: var(--border);
    margin-top: 4.17vw;
}

div.mobile-shop-info-block-1 {
    display: flex;
}

div.mobile-shop-info-block-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34.056vw;
    height: 33.056vw;
}

div.mobile-shop-info-block-item-p-1 {
    position: relative;
    width: 25.28vw;
    height: 25.28vw;
}

img.mobile-shop-info-block-item-i-1 {
    position: absolute;
    width: 25.28vw;
    height: 25.28vw;
}

div.mobile-shop-info-block-item-2 {
    position: relative;
    width: 54.83vw;
    height: 25.28vw;
    padding-top: 7.08vw;
}

h1.mobile-shop-info-block-item-title {
    width: 50.83vw;
    font-weight: 600;
    font-size: 3.61vw;
    text-align: left;
    color: var(--font-color);
}

h1.mobile-shop-info-block-item-content {
    margin-top: 2.36vw;
    width: 50.83vw;
    font-weight: normal;
    font-size: 3.61vw;
    text-align: left;
    color: var(--font-color);
}

div.mobile-shop-info-block-2 {
    width: 100%;
    height: 14.72vw;
    display: flex;
    align-items: center;
}

div.mobile-shop-info-block-2-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 4.9125vw;
}

div.mobile-shop-info-block-2-item-1-picture {
    position: relative;
    width: 4.9125vw;
    height: 4.9125vw;
}

img.mobile-shop-info-block-2-item-1-image {
    position: absolute;
    width: 4.9125vw;
    height: 4.9125vw;
}

h1.mobile-shop-info-block-2-item-1-text {
    margin-left: 2.97vw;
    font-weight: normal;
    font-size: 3.61vw;
    text-align: left;
}

div.mobile-shop-info-block-3-item-1 {
    display: flex;
    width: 50%;
    height: auto;
}

div.mobile-shop-info-block-3-item-1-block {
    display: flex;
    margin-left: auto;
    margin-right: 4.17vw;
}

button.mobile-shop-info-block-2-item-1-button {
    padding: 2.82vw 5.65vw;
    font-size: 3.61vw;
    background-color: var(--green);
    border-radius: 0.55vw;
    color: var(--background);
    cursor: pointer;
}

button.mobile-shop-info-block-2-item-1-button:hover {
    background-color: var(--green-hover);
}

a.mobile-shop-info-block-2-item-1-button {
    display: block;
    text-decoration: none;
    padding: 2.82vw 5.65vw;
    font-size: 3.61vw;
    background-color: var(--exist);
    border-radius: 0.55vw;
    color: var(--background);
    cursor: pointer;
}

a.mobile-shop-info-block-2-item-1-button:hover {
    background-color: var(--exist-hover);
}

h1.mobile-shop-info-block-3-item-1-text {
    margin-left: 4.17vw;
    font-weight: normal;
    font-size: 5.14vw;
    text-align: right;
    color: var(--font-color);
}

button.p-b-n-b {
    margin: 4.17vw 0 0 1.56vw;
    width: 96.89vw;
    height: 17.22vw;
    font-weight: normal;
    font-size: 3.61vw;
    color: var(--exist);
    border: var(--border);
    cursor: pointer;
    border-radius: 2.08vw;
}

button.p-b-n-b:hover {
    color: var(--exist-hover);
    background-color: var(--border);
}

/*  */

h1.characteristic {
    font-size: 4.7vw;
    font-weight: 600;
    padding-left: 5.6vw;
    margin-bottom: 8.3vw;
}

div.flex {
    display: flex;
    height: auto;
    margin: 0 0 9.5vw 5.5vw;
}

div.b-1-pic {
    position: relative;
    width: 14.3vw;
    height: 14.3vw;
}

img.b1-img {
    position: absolute;
    width: 14.3vw;
    height: 14.3vw;
    border-radius: 2.6vw;
}

h1.b1-t1 {
    font-size: 3.6vw;
    font-weight: 600;
    margin: 1.6vw 0 0 3.19vw;
    font-weight: 600;
}

h1.b1-t2 {
    font-size: 3.6vw;
    font-weight: 300;
    margin: 1.6vw 0 0 3.19vw;
    width: 75vw;
}

a.show-p-b {
    z-index: 3;
    margin-left: 2.56vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    background-color: var(--background-hover);
    cursor: pointer;
}

a.show-p-b-fixed {
    z-index: 300;
    margin-left: 2.56vw;
    position: fixed;
    top: 8.17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    background-color: var(--background-hover);
    cursor: pointer;
}

a.show-p-b:hover {
    background-color: var(--background-back);
}

a.show-p-b-fixed:hover {
    background-color: var(--background-back);
}

div.show-p-b-p {
    position: relative;
    width: 4vw;
    height: 5.3vw;
}

img.show-p-b-i {
    position: absolute;
    width: 4vw;
    height: 5.3vw;
}

div.show-product {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

div.show-product-2 {
    margin: 0 auto;
    width: 81.1vw;
    height: 81.1vw;
}

div.show-p-p {
    position: relative;
    width: 81.1vw;
    height: 81.1vw;
}

img.show-p-i {
    position: absolute;
    width: 81.1vw;
    height: 81.1vw;
    object-fit: cover;
}

div.show-p-i-b {
    width: 100%;
}

h1.show-p-i-b-h {
    font-weight: 600;
    font-size: 5.56vw;
    line-height: 8.3vw;
    text-align: left;
    margin: 6.94vw 0 0 5.56vw;
}

p.show-p-i-b-p {
    font-weight: normal;
    font-size: 3.61vw;
    line-height: 6.6vw;
    text-align: left;
    margin: 6.94vw 0 0 5.56vw;
}

div.show-p-i-b-f {
    margin: 6.94vw 0 12.08vw 5.56vw;
    display: flex;
}

a.show-button {
    display: block;
    text-decoration: none;
    padding: 2.92vw 6.53vw;
    background-color: var(--green);
    border-radius: 0.56vw;
    font-size: 3.61vw;
    color: var(--background);
    font-weight: normal;
    cursor: pointer;
}

a.show-button:hover {
    background-color: var(--green-hover);
}

div.show-f-p {
    position: relative;
    width: 5.92vw;
    height: 5.14vw;
    margin-right: 5vw;
}

img.show-f-i {
    position: absolute;
    width: 5.92vw;
    height: 5.14vw;
}

button.show-favourite {
    margin-left: 2.056vw;
    display: flex;
    align-items: center;
    font-size: 3.61vw;
    color: var(--red);
    cursor: pointer;
    border-radius: 0.56vw;
    padding-right: 2.57vw;
}

button.show-favourite:hover {
    background-color: var(--background-hover);
}

h1.c-b-t {
    font-weight: 600;
    font-size: 4.72vw;
    text-align: left;
    color: var(--font-color);
    margin: 0 0 8.3vw 5.56vw;
}

h1.m-p-1 {
    font-weight: 600;
    font-size: 4.72vw;
    text-align: left;
    color: var(--font-color);
    margin: 8.3vw 0 0 5.56vw;
}

/* Basket */

div.main-block-your-basket {
    margin-top: 4.17vw;
    width: 100vw;
    height: auto;
    background-color: var(--background);
    border-radius: 4.16vw;
    padding: 8.33vw 0;
}

div.your-text-block-place {
    padding: 4.17vw 0 0 2.56vw;
}

div.main-of-main {
    margin-top: 4.16vw;
    width: 94vw;
    height: auto;
    border: var(--border);
    border-radius: 4.16vw;
}

div.block-one-img-and-glakso {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 0.55vw;
}

div.img-and-glakso {
    width: 37.7vw;
    height: 37.7vw;
    border-radius: 0.55vw;
}

div.relative-and-absolute {
    position: absolute;
    width: 25.27vw;
    height: 25.27vw;
    margin: 4.16vw 0 0 4.16vw;
}

img.img-size {
    position: relative;
    width: 25.27vw;
    height: 25.27vw;
}

div.place-glakso {
    padding-top: 4.16vw;
}

h1.glakso-text-green {
    color: var(--green);
    font-size: 3.6vw;
    font-weight: 600;
}

div.place-furak {
    margin-top: 2.78vw;
}

h1.furak-text {
    width: 56vw;
    font-size: 3.6vw;
    font-weight: 600;
}

div.leader-text {
    width: 56.94vw;
    height: 36.9vw;
}

h1.id-text {
    font-size: 3.6vw;
    font-weight: normal;
    color: var(--font-color-c);
}

div.w {
    width: 100%;
    height: auto;
    border-radius: 0.55vw;
}

div.we {
    display: flex;
    width: 100%;
    height: auto;
}

div.place-scary-turn-off {
    width: auto;
    padding-left: 4.16vw;
}

div.scary-turn-off {
    display: flex;
    width: auto;
    height: 13.75vw;
    background-color: var(--background);
    border: var(--border);
    border-radius: 4.17vw;
}

button.button-minus {
    width: 12.75vw;
    height: 13.75vw;
    border: none;
    font-size: 6.66vw;
    font-weight: normal;
    color: var(--font-color-c);
    cursor: pointer;
}

button.button-minus:hover {
    background-color: var(--background-hover);
    border-radius: 4.17vw 0 0 4.17vw;
}

button.button-plus {
    width: 12.75vw;
    height: 13.75vw;
    border: none;
    font-size: 6.66vw;
    font-weight: normal;
    color: var(--font-color-c);
    cursor: pointer;
}

button.button-plus:hover {
    background-color: var(--background-hover);
    border-radius: 0 4.17vw 4.17vw 0;
}

div.one-block {
    margin: 0 1.5vw;
    width: auto;
    height: 13.75vw;
    background-color: var(--background);
}

input.but-quantity {
    padding-top: 4.3vw;
    width: 6.125vw;
    font-size: 3.75vw;
    font-weight: normal;
    color:var(--font-color);
    border:0 none;
    outline: none;
    text-align: center;
}

input.but-quantity::placeholder {
    font-size: 3.75vw;
    font-weight: normal;
    color:var(--font-color);
}

div.place-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 13.75vw;
    margin-right: 4.17vw;
}

h1.price {
    font-size: 5.1vw;
    font-weight: normal;
    color: var(--font-color);
}

div.grid {
    margin-top:8.3vw;
    width:100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
}

div.place-favorite {
    width: 100%;
}

div.del-from-favorite {
    width: 100%;
}

div.place-order {
    padding-top: 8.3vw;
}

h1.order-name {
    color: var(--font-color);
    font-size: 4.4vw;
    font-weight: 600;
}

h1.two-items {
    font-size: 3.47vw;
    font-weight: normal;
    color: var(--font-color);
}

div.size-block {
    display: flex;
    width: 89vw;
    height: 26.5vw;
    background-color: var(--background);
    margin: 0.13vw 2.78vw 0 2.78vw;
}

div.order-block {
    width: 37.7vw;
    height: 26.5vw;
    background-color: var(--background);
}

div.price-place-im-tired {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
}

h1.money {
    font-size: 6.66vw;
    font-weight: 600;
}

button.pay-for-it {
    background-color: var(--green);
    width: 89vw;
    height: 16.38vw;
    border-radius: 6px;
    border: none;
    color: var(--background);
    font-size: 3.8vw;
    font-weight: 600;
    cursor: pointer;
    margin-left: 2.78vw;
}

button.pay-for-it:hover {
    background-color: var(--green-hover);
}

button.favorite {
    width: 100%;
    height: 13.19vw;
    font-size: 3.6vw;
    font-weight: normal;
    color: var(--green);
    border: none;
    cursor: pointer;
}

button.favorite:hover {
    background-color: var(--background-hover);
    border-radius: 0 0 0 4.17vw;
}

button.unfavorite {
    width: 100%;
    height: 13.19vw;
    font-size: 3.6vw;
    font-weight: normal;
    color: var(--red);
    border: none;
    cursor: pointer;
}

button.unfavorite:hover {
    background-color: var(--background-hover);
    border-radius: 0 0 4.17vw 0;
}

/*  */

div.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--skeleton-start);
    }

    100% {
        background-color: var(--skeleton-end);
    }
}

div.b1-img {
    position: absolute;
    width: 14.3vw;
    height: 14.3vw;
    border-radius: 2.64vw;
}

div.b1-t1 {
    width: 56.53vw;
    height: 3.61vw;
    border-radius: 1.8vw;
    margin: 2.64vw 0 0 3.05vw;
}

div.b1-t2 {
    width: 50.42vw;
    height: 3.61vw;
    border-radius: 1.8vw;
    margin: 3.05vw 0 0 3.05vw;
}

div.show-p-i-b-h-loader {
    width: 69.4vw;
    height: 5.5vw;
    border-radius: 2.5vw;
    margin: 6.94vw 0 0 5.56vw;
}

img.show-button-loader {
    width: auto;
    height: 2.61vw;
}

div.show-p-i-b-p-loader-1 {
    width: 87.08vw;
    height: 3.6vw;
    border-radius: 1.8vw;
    margin: 8.19vw 0 0 5.56vw;
}

div.show-p-i-b-p-loader-2 {
    width: 69.4vw;
    height: 3.6vw;
    border-radius: 1.8vw;
    margin: 3.05vw 0 0 5.56vw;
}

div.show-p-i-b-p-loader-3 {
    margin: 7.64vw 0 0 5.56vw;
    width: 62.36vw;
    height: 3.61vw;
    border-radius: 1.8vw;
}

div.i-m-p {
    margin: 1.5625vw;
    position: relative;
    width: 6.8vw;
    height: 6.8vw;
}

div.i-m-i {
    position: absolute;
    width: 6.8vw;
    height: 6.8vw;
}

div.z-c {
    width: 13.36vw;
    height: 1.17vw;
    border-radius: 1.875vw;
}

div.p-t {
    margin-top: 1.17vw;
    width: 17.66vw;
    height: 1.17vw;
    border-radius: 1.875vw;
}

div.i-g-p {
    border-radius: 100%;
    width: 1.33vw;
    height: 1.33vw;
}

div.t-t {
    width: 10.08vw;
    height: 1.33vw;
    border-radius: 1.875vw;
}

div.h {
    width: 8.05vw;
    height: 1.48vw;
    border-radius: 0.78vw;
    margin: 1.56vw 1.56vw 0 0;
    float: right;
}

div.mobile-shop-info-block-item-i-1-loader {
    width: 25.28vw;
    height: 25.28vw;
}

div.mobile-shop-info-block-item-title-loader {
    width: 43.75vw;
    height: 3.61vw;
    border-radius: 1.8vw;
}

div.mobile-shop-info-block-item-content-1-loader {
    width: 50.83vw;
    height: 3.61vw;
    border-radius: 1.8vw;
    margin-top: 4.4vw;
}

div.mobile-shop-info-block-item-content-2-loader {
    width: 37.92vw;
    height: 3.61vw;
    border-radius: 1.8vw;
    margin-top: 1.6vw;
}

div.mobile-shop-info-block-2-item-1-image-loader {
    width: 4.86vw;
    height: 4.86vw;
    border-radius: 100%;
}

div.mobile-shop-info-block-2-item-1-text-loader {
    margin: 0.69vw 0 0 2.97vw;
    width: 27.5vw;
    height: 3.61vw;
    border-radius: 13px;
}

div.mobile-shop-info-block-3-item-1-text-loader {
    margin-left: 4.17vw;
    width: 29.44vw;
    height: 5vw;
    border-radius: 2.5vw;
}

/* Login */

div.login-form {
    margin-top:13.89vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.login-form-content {
    width: 94.4vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.login-form-select {
    width: 94.4vw;
    height: 22.08vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.login-form-select-text {
    font-size: 4.03vw;
    font-weight: normal;
    color: var(--font-color);
    text-transform: uppercase;
    margin: 0 8.14vw;
}

div.login-form-select-border {
    width: 31.9vw;
    height: auto;
    border-top:var(--border)
}

div.login-form-content-part {
    width: 94.4vw;
    height:auto;
}

div.login-form-content-part-1 {
    width: 94.4vw;
    height:auto;
    margin-left:auto;
    margin-bottom: 8.3vw
}

input.login-form-content-input {
    background: url("images/person.svg") 6.69vw 4.3vw no-repeat;
    background-size: 4.46vw auto;
    width: 75.93vw;
    height: auto;
    border-radius:4.17vw;
    border:var(--border);
    color:var(--font-color);
    padding:4.58vw 0 4.58vw 18.47vw;
    margin-bottom: 5.5vw;
    font-size: 4vw;
    font-weight: normal;
}

input.login-form-content-input::placeholder {
    color:var(--font-color-c);
    font-weight: normal;
    font-size: 4vw;
}

button.login-form-content-button {
    width: 94.4vw;
    height: 14.17vw;
    background-color: var(--green);
    border-radius: 4.17vw;
    font-size: 4.03vw;
    font-weight: 600;
    text-transform: uppercase;
    color:var(--background);
    cursor: pointer;
    margin-bottom: 5.5vw;
}

button.login-form-content-button:hover {
    background-color: var(--green-hover);
}

a.login-form-content-forget {
    text-decoration: none;
    color: var(--green);
    font-weight: 300;
    font-size:3.89vw;
    text-align: center;
}

button.login-form-content-sn {
    width: 94.4vw;
    height: 14.17vw;
    color:var(--font-color);
    border:var(--border);
    border-radius: 4.17vw;
    cursor: pointer;
    margin: 2.78vw 0;
}

button.login-form-content-sn:hover {
    background-color: var(--background-hover);
}

div.login-form-content-sn-content {
    display: flex;
    width:100%;
}

div.login-form-content-sn-picture {
    margin-left:4.3vw;
    position: relative;
    width: 6.67vw;
    height: 6.67vw;
}

img.login-form-content-sn-image {
    position:absolute;
    width: auto;
    height: 6.67vw;
}

span.login-form-content-sn-text {
    margin-top:0.83vw;
    width: 80%;
    align-items: center;
    font-size: 3.89vw;
    font-weight: 600;
    color:var(--font-color);
}

/* Search */

div.block-search {
    position: absolute;
    display: block;
    width: 94.3vw;
    height: auto;
    background-color: var(--background);
    border-radius: 0 0 4.166vw 4.166vw;
    z-index: 101;
    margin-top:2.78vw;
}

a.flex-search {
    display: flex;
    cursor: pointer;
}

a.flex-search:hover {
    background-color: var(--background-hover);
    border-radius: 4.17vw;
}

div.flex-search {
    display: flex;
    cursor: pointer;
}

div.flex-search:hover {
    background-color: var(--background-hover);
}

div.block-picture-drugs {
    width: 25vw;
    height: auto;
    border-radius: 0 0 0 2.08vw;
}

div.place-drugs-picture {
    padding: 2.78vw 5.56vw 2.78vw 2.78vw;
}

div.picture-drugs-absolute {
    position: relative;
    width: 16.67vw;
    height: 16.67vw;
}

img.picture-drugs-relative {
    position: absolute;
    width: 16.67vw;
    height: 16.67vw;
    border-radius: 2.08vw;
}

div.block-drugs-text-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1.name-drugs-in {
    font-size: 4.17vw;
    font-weight: normal;
}

div.place-middle-price-in {
    margin-top: 1.39vw;
}

h1.middle-price-in {
    font-size: 3.3vw;
    font-weight: normal;
    color:var(--font-color-c)
}

div.find-for-request-block {
    width: 100%;
    height: 10.4vw;
    background-color: var(--background);
    border-radius: 4.16vw;
    cursor: pointer;
}

div.find-for-request-place-text {
    text-align: center;
    padding-top: 2.77vw;
}

h1.find-for-request-text {
    font-size: 3.6vw;
    font-weight: normal;
}

div.find-for-request-block:hover {
    background-color: var(--background-hover);
}

div.picture-drugs-block {
    width: 16.67vw;
    height: 16.67vw;
    border-radius: 2.08vw;
}


div.name-drugs-in-block {
    margin-top:0.5vw;
    width: 43.75vw;
    height: 4.44vw;
    background-color: grey;
    border-radius: 2.08vw;
}


div.middle-price-in-block {
    width: 54vw;
    height: 4.44vw;
    background-color: grey;
    border-radius: 2.08vw;
}
/* PopUp */
div.mobile-main-confirm-fixed {
    position: fixed;
    top:0;
    width:100vw;
    height:100vh;
    z-index:9999;
}
div.mobile-main-confirm-fixed-back {
    top:0;
    width:100vw;
    height:100vh;
    z-index:9999;
    background-color: var(--popup-background);
    backdrop-filter: blur(1.1vw);
    -webkit-backdrop-filter:blur(1.1vw);
    touch-action: none;
    -ms-touch-action: none;
}
div.mobile-main-confirm {
    position: absolute;
    bottom:0;
    width:100vw;
    height:auto;
    background-color: var(--background);
    border-radius: 4.17vw 4.17vw 0 0;
    padding-bottom:10.1vw;
    animation-name: popup;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes popup {
    from {
      -webkit-transform: translate(0,5%);
      opacity: 0.95;
    }
    to {
      -webkit-transform: translate(0,0);
      opacity: 1;
    }
  }
div.mobile-main-confirm-close {
    width:100%;
    height:auto;
}
div.mobile-main-confirm-close-picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.3vw;
    height: 15.3vw;
    margin-left:auto;
    cursor: pointer;
}
img.mobile-main-confirm-close-image {
    position: absolute;
    width: 4.3vw;
    height: 4.3vw;
}
h1.mobile-main-confirm-main-text {
    text-align: center;
    font-size: 4.17vw;
    font-weight: 600;
    line-height: 5.56vw;
}
div.mobile-main-confirm-flex {
    margin: 8.3vw 4.4vw 0 4.4vw;
    display: flex;
}
div.mobile-main-confirm-flex-1 {
    position: relative;
    width:27.08vw;
    height:27.08vw;
}
img.mobile-main-confirm-flex-1-images {
    position: absolute;
    width:27.08vw;
    height:27.08vw;
}
div.mobile-main-confirm-flex-2 {
    position: relative;
    width:64.03vw;
    height:auto;
}
div.mobile-main-confirm-flex-2-block {
    padding-top: 1.38vw;
    margin-left: 4.58vw;
}
h1.mobile-main-confirm-flex-2-main-text {
    font-size:4.17vw;
    font-weight: 600;
}
div.mobile-main-confirm-flex-2-block-flex {
    margin-top:3.47vw;
    display: flex;
    flex-direction: column;
    height:auto;
}
h1.mobile-main-confirm-flex-2-block-flex-price {
    font-size:5.5vw;
    font-weight: 600;
}
div.mobile-main-confirm-flex-2-block-flex-block {
    margin-top:3.47vw;
    display: flex;
    align-items: center;
    height:7.36vw;
}
h1.mobile-main-confirm-flex-2-block-flex-block-text {
    font-size: 3.61vw;
    font-weight: normal;
}
a.mobile-main-confirm-flex-2-block-flex-block-nav {
    font-size: 3.61vw;
    font-weight: normal;
    text-decoration: none;
    margin-left:1vw;
    color:var(--green);
}
p.mobile-main-confirm-flex-2-main-content {
    margin-top:3.47vw;
    font-size: 3.3vw;
    font-weight: normal;
}
div.mobile-main-confirm-action {
    display: flex;
    width:91.1vw;
    height:auto;
    margin: 8.3vw 0 0 4.4vw;
}
a.mobile-main-confirm-action-b {
    width:50%;
    height:auto;
    font-size:3.47vw;
    font-weight: 600;
    color:var(--background);
    border-radius: 5.83vw;
    background-color: var(--green);
    cursor: pointer;
    text-align: center;
    padding:3.47vw 0;
}
button.mobile-main-confirm-action-c {
    width:50%;
    height:auto;
    font-size:3.47vw;
    font-weight: 600;
    color: var(--green);
    cursor: pointer;
    padding:3.47vw 0;
}

div.mobile-main-confirm-flex-2-main-text-loader {
    width:50.42vw;
    height:5.5vw;
    border-radius: 2.78vw;
}
div.mobile-main-confirm-flex-2-block-flex-price-loader {
    width:30.83vw;
    height:7.36vw;
    border-radius: 3.75vw;
}
div.mobile-main-confirm-flex-2-block-flex-block-text-loader {
    width:53.05vw;
    height:4.86vw;
    border-radius: 2.5vw;
}
div.mobile-main-confirm-flex-2-main-content-loader {
    margin-top:3.47vw;
    width:53.05vw;
    height:4.86vw;
    border-radius: 2.5vw;
}
div.mobile-main-confirm-action-c-loader {
    width:34.3vw;
    height:4.58vw;
    border-radius: 2.36vw;
    margin: 3.47vw 0 0 5.69vw;
}
div.menu-s-b-notification {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width:5vw;
    height:5vw;
    background-color: var(--red);
    border-radius: 100%;
    z-index:1;
    margin-left:10.02vw;
    margin-top:-1.78vw;
}
h1.menu-s-b-notification-text {
    font-size:2.78vw;
    font-weight: normal;
    color:white;
}

.animation {
    animation-name: anim;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes anim {
    from {
      -webkit-transform:scale(1);
      opacity: 1;
    }
    to {
      -webkit-transform:scale(0.8);
      opacity: 0;
    }
}

div.lazy-loading {
    display: flex;
    justify-content: center;
    margin-top: 4.2vw;
    width: 100vw;
    height: 120vw;
    border-radius: 4.2vw;
    background-color: var(--background);
}
div.lazy-loading-1 {
    display: flex;
    justify-content: center;
    margin-top: 4.2vw;
    width: 100vw;
    height: 120vw;
    border-radius: 4.2vw;
    background-color: var(--background);
}
img.lazy-loading-img {
    width: 20vw;
    height: auto;
}