div.block-search {
    position: absolute;
    display: block;
    width: 51.87vw;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 1.17vw 1.17vw;
    border: 0.078vw solid hsl(0, 0%, 93%);
    z-index: 50;

}

div.flex-search {
    display: flex;
    cursor: pointer;
}

div.flex-search:hover {
    background-color: hsl(0, 0%, 97%);
}

div.block-picture-drugs {
    width: 6vw;
    height: 5.46vw;
    border-radius: 0 0 0 1.17vw;
}

div.place-drugs-picture {
    padding: 0.93vw;
}

div.picture-drugs-absolute {
    position: relative;
    width: 3.9vw;
    height: 3.9vw;
}

img.picture-drugs-relative {
    position: absolute;
    width: 3.9vw;
    height: 3.9vw;
    border-radius: 1.17vw;
}

div.block-drugs-text-in {
    width: 46vw;
    height: 5.46vw;
    border-radius: 0 0 1.17vw 0;
}

div.place-name-drugs-in {
    padding-top: 1.17vw;
}

h1.name-drugs-in {
    font-size: 1.09vw;
    font-weight: normal;
}

div.place-middle-price-in {
    margin-top: 0.468vw;
}

h1.middle-price-in {
    font-size: 0.93vw;
    font-weight: normal;
}