* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.78125vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 81%);
    border-radius: 1.171875vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 33%);
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: 0 none;
    font-family: 'Segoe UI', sans-serif;
}

html {
    overflow-y: overlay;
}

body {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: hsl(0, 0%, 97%);
    overflow-x: hidden;
}

header.main-block-1 {
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 1.171875vw 1.171875vw;
}

div.main-block-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 112.5vw;
    width: 100vw;
    height: auto;
}

div.m-g-1 {
    padding: 2.1875vw 0 0 2.8125vw;
    display: grid;
    height: 4.22vw;
    grid-template-columns: 20.9375vw 52.1875vw 21.25vw;
    padding-bottom: 2.1875vw;
}

div.m-f-1 {
    display: flex;
    align-items: center;
    height: 4.21875vw;
}

div.m-f-i-1 {
    position: relative;
    width: auto;
    height: 1.71875vw;
}

img.m-p-i-1 {
    position: absolute;
    width: auto;
    height: 1.71875vw;
}

div.m-f-b {
    margin-left: 1.3671875vw;
}

div.m-f-b-1 {
    border-left: 0, 078125vw solid hsl(0, 0%, 81%);
    height: 1.171875vw;
}

div.m-f-t {
    margin-left: 1.3671875vw;
}

h1.m-f-t-1 {
    font-size: 1.015625vw;
    font-weight: 300;
}

div.m-s {
    position: relative;
}

input.m-s-1 {
    position: absolute;
    background: url("images/search.svg") 2.3046875vw 1.5078125vw no-repeat;
    background-size: 1.335vw 1.328125vw;
    font-family: 'Segoe UI', sans-serif;
    padding: 1.40625vw 0 1.40625vw 4.84375vw;
    width: 47.34375vw;
    height: 1.40625vw;
    background-color: hsl(0, 0%, 97%);
    border: 0 none;
    border-radius: 1.171875vw;
    font-size: 1.015625vw;
    font-weight: 400;
}

input.m-s-1::placeholder {
    color: hsl(220, 1%, 60%);
    font-weight: normal;
}

input.m-s-1:focus {
    background: url("images/search-active.svg") 2.1046875vw 1.3078125vw no-repeat;
    background-size: 1.335vw 1.328125vw;
    width: 47.03125vw;
    height: 1.09375vw;
    padding: 1.40625vw 0 1.40625vw 4.6875vw;
    background-color: hsl(0, 0%, 100%);
    border: 0.15625vw solid hsl(165, 100%, 40%);
    outline: none;
    color: black;
}

div.m-p-i {
    width: 100%;
}

div.m-p-i-b {
    height: 4.21875vw;
    display: flex;
    float: right;
}

div.m-p-i-b-v {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.421875vw;
    padding: 0.46875vw;
    cursor: pointer;
}

div.m-p-i-b-v:hover {
    border-radius: 20%;
    background-color: hsl(0, 0%, 99%);
}

div.m-p-i-b-v-i {
    position: relative;
    width: 1.484375vw;
    height: 1.484375vw;
}

img.m-p-i-b-v-p {
    position: absolute;
    width: 1.484375vw;
    height: 1.484375vw;
}

div.m-p-i-b-v-t {
    margin-top: 0.5078125vw;
}

h1.m-p-i-b-v-t-1 {
    font-size: 0.859375vw;
    font-weight: 300;
}

div.menu-select {
    padding-bottom: 2.1875vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

a.menu-s-b {
    display: block;
    width: auto;
    margin: 0 1.140625vw;
    border-radius: 1.875vw;
    padding: 1.171875vw;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a.menu-s-b:hover {
    background-color: hsl(0, 0%, 99%);
}

a.menu-s-b-active {
    display: block;
    width: auto;
    margin: 0 1.140625vw;
    background-color: hsl(120, 100%, 97%);
    border-radius: 1.875vw;
    padding: 1.171875vw;
    cursor: pointer;
    color: hsl(165, 100%, 40%);
    text-decoration: none;
}

div.menu-s-b-i {
    display: flex;
    align-items: center;
    height: 1.51328125vw;
}

div.menu-s-b-i-i {
    position: relative;
    width: 1.51328125vw;
    height: 1.51328125vw;
}

img.menu-s-b-i-p {
    position: absolute;
    width: 1.51328125vw;
    height: 1.51328125vw;
}

div.menu-s-b-i-t {
    margin-left: 0.78125vw;
}

h1.menu-s-b-i-t-1-active {
    font-size: 1.015625vw;
    font-weight: normal;
}

h1.menu-s-b-i-t-1 {
    font-size: 1.015625vw;
    font-weight: 300;
}

div.panel-select {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2.1875vw;
}

div.panel-s-b {
    margin: 0.78125vw;
    width: 9.0625vw;
    height: 10.234375vw;
    border-radius: 1.171875vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 0.078125vw solid hsl(0, 0%, 93%);
}

div.panel-s-b:hover {
    background-color: hsl(0, 0%, 99%);
}

div.panel-s-b-i {
    position: relative;
    width: 4.21875vw;
    height: 4.21875vw;
}

img.panel-s-b-p {
    margin-top: 0.78125vw;
    position: absolute;
    width: 4.21875vw;
    height: 4.21875vw;
    border-radius: 1.484375vw;
}

div.panel-s-b-t {
    margin-top: 1.5625vw;
}

h1.panel-s-b-t-1 {
    width: 6.71875vw;
    font-size: 1.015625vw;
    line-height: 1.5625vw;
    text-align: center;
    font-weight: normal;
}

div.m {
    max-width: 112.5vw;
    width: calc(100% - 2.8125vw);
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.171875vw;
    margin-top: 2.34375vw;
    margin-left: auto;
    margin-right: auto;
    padding: 4.6875vw 0;
}

h1.m-p {
    text-align: center;
    font-weight: 600;
    font-size: 1.875vw;
    color: hsl(0, 0%, 20%);
}

h1.m-p-content {
    margin-top: 0.78125vw;
    font-weight: normal;
    font-size: 1.02vw;
    text-align: center;
    color: hsl(0, 0%, 20%);
}

h1.m-p-1 {
    margin: 4.6875vw 0 1.3671875vw 6.25vw;
    font-size: 1.71875vw;
    font-weight: 600;
}

div.b {
    display: grid;
    margin-left: 5.2734375vw;
    grid-template-columns: repeat(auto-fit, 17.34375vw);
}

a.m-p-b {
    display: block;
    width: 15.390625vw;
    height: 24.0625vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.78125vw;
    border: 0.078125vw solid hsl(0, 0%, 93%);
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a.m-p-b:hover {
    border: 0.078125vw solid hsl(165, 100%, 40%);
}

div.m-d-b {
    margin: 0.9765625vw;
}

div.m-t-p {
    margin: 0.234375vw 0.9375vw 0 0.9375vw;
}

h1.m-t {
    font-size: 1.015625vw;
    font-weight: normal;
}

div.m-i-1-1 {
    padding: 0.859375vw;
    position: relative;
    width: 13.671875vw;
    height: 13.671875vw;
}

img.m-i {
    position: absolute;
    width: 13.671875vw;
    height: 13.671875vw;
}

div.l-t-p {
    margin-top: 0.78125vw;
}

h1.l-t {
    font-size: 0.703125vw;
    font-weight: 300;
    color: hsl(0, 0%, 68%);
}

div.m-l-p {
    width: 100%;

    display: flex;
    align-items: center;
}

h1.l-p {
    font-size: 1.015625vw;
    font-weight: 600;
}

div.p-p {
    background-color: hsl(120, 100%, 97%);
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 3.125vw;
    height: 3.125vw;
    border-radius: 100%;
    justify-content: center;
}

div.i-p-1 {
    position: relative;
    width: 1.3984375vw;
    height: 1.07421875vw;
}

img.p {
    position: absolute;
    width: 1.3984375vw;
    height: 1.07421875vw;
}

/* */
div.maybe-panel {
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.171875vw;
    margin-top: 2.34375vw;
    padding: 4.6875vw 0 3.515625vw 0;
}

div.maybe-panel-block {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

div.maybe-flex {
    display: flex;
}

div.maybe-flex-picture {
    position: relative;
    width: 11.875vw;
    height: 11.875vw;
    margin: 0.625vw;
}

img.maybe-flex-image {
    position: absolute;
    width: 11.875vw;
    height: 11.875vw;
    object-fit: cover;
}

div.maybe-flex-container {
    width: 13.67vw;
}

div.maybe-g-p {
    display: grid;
    grid-template-columns: repeat(auto-fit, 29.140625vw);
    margin: 2.34375vw 0 0 6.484375vw;
}

div.maybe-g-p-b {
    margin: 1.171875vw;
}

div.maybe-g-p-b1 {
    width: 26.796875vw;
    height: 13.125vw;
    border: 0.078125vw solid #F1F2EC;
    border-radius: 0.78125vw;
    cursor: pointer;
}

div.maybe-g-p-b1:hover {
    border: 0.078125vw solid hsl(165, 100%, 40%);
}

div.flex {
    display: flex;
}

h1.b-t1 {
    font-size: 1.015625vw;
    height: 2.96875vw;
    margin: 0.78125vw 0 0 1.015625vw;
    font-weight: normal;
}

h1.b-t2 {
    font-size: 0.703125vw;
    margin: 0.703125vw 0 0 1.015625vw;
    font-weight: 300;
    color: #AEAEAE;
}

h1.b-t3 {
    font-size: 1.015625vw;
    margin: 0.78125vw 0 0 1.015625vw;
    font-weight: 600;
}

div.b-i-p {
    margin: 0.703125vw 0 0 1.015625vw;
}

div.b-p-p {
    background-color: hsl(120, 100%, 97%);
    display: flex;
    align-items: center;
    width: 3.125vw;
    height: 3.125vw;
    border-radius: 100%;
    justify-content: center;
}

div.show-product {
    margin-top: 2.5vw;
    padding-bottom: 5.625vw;
    width: 72.578125vw;
    height: 28.515625vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

div.show-product-1 {
    width: 10.9375vw;
    height: 28.515625vw;
}

div.show-product-2 {
    width: 28.515625vw;
    height: 28.515625vw;
}

div.show-product-3 {
    width: 54.140625vw;
    height: 28.515625vw;
    display: flex;
    align-items: center;
}

a.show-p-b {
    margin-left: 2.8125vw;
    z-index: 3;
    position: absolute;
    width: 3.90625vw;
    height: 3.90625vw;
    border-radius: 100%;
    background-color: white;
    border: 0.15625vw solid #F1F2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a.show-p-b-fixed {
    margin-left: 1.56vw;
    z-index: 3;
    position: fixed;
    width: 3.90625vw;
    height: 3.90625vw;
    border-radius: 100%;
    background-color: white;
    border: 0.15625vw solid #F1F2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top:3.125vw;
}

a.show-p-b-fixed:hover {
    border: 0.15625vw solid hsl(165, 100%, 40%);
}

a.show-p-b:hover {
    border: 0.15625vw solid hsl(165, 100%, 40%);
}

div.show-p-b-p {
    position: relative;
    width: 0.7734375vw;
    height: 1.28984375vw;
}

img.show-p-b-i {
    position: absolute;
    width: 0.7734375vw;
    height: 1.28984375vw;
}

div.show-p-p {
    position: relative;
    width: 28.515625vw;
    height: 28.515625vw;
}

img.show-p-i {
    position: relative;
    width: 28.515625vw;
    height: 28.515625vw;
}

div.show-p-i-b {
    margin-left: 13.1640625vw;
    width: 34.0625vw;
    height: auto;
}

h1.show-p-i-b-h {
    font-size: 2.8125vw;
    font-weight: normal;
    line-height: 3.671875vw;
}

p.show-p-i-b-p {
    margin-top: 2.109375vw;
    font-size: 1.40625vw;
    font-weight: 300;
}

div.show-p-i-b-f {
    margin-top: 2.109375vw;
    display: flex;
}

button.show-button {
    padding: 0.8203125vw 1.78125vw;
    background-color: #00CC99;
    border-radius: 0.3125vw;
    font-size: 1.171875vw;
    color: white;
    font-weight: normal;
    cursor: pointer;
}

button.show-button:hover {
    background-color: #01b185;
}

div.show-f-p {
    position: relative;
    width: 1.74921875vw;
    height: 1.51953125vw;
    margin-right: 1.625vw;
}

img.show-f-i {
    position: absolute;
    width: 1.74921875vw;
    height: 1.51953125vw;
}

button.show-favourite {
    margin-left: 2.0859375vw;
    display: flex;
    align-items: center;
    font-size: 1.171875vw;
    color: hsl(12, 91%, 57%);
    cursor: pointer;
    border-radius: 0.3125vw;
    padding-right: 0.78125vw;
}

button.show-favourite:hover {
    background-color: hsl(0, 0%, 99%);
}

/* */
div.c-b {
    float: right;
    padding-right: 6.25vw;
}

h1.c-b-t {
    font-size: 1.71875vw;
    font-weight: 600;
    padding-bottom: 2.34375vw;
}

div.b {
    margin-top: 2.34375vw;
}

div.b-m {
    width: 46.484375vw;
    height: 10.9375vw;
    background-color: hsl(0, 0%, 100%);
    border: 0.078125vw solid hsl(0, 0%, 93%);
}

div.i {
    display: flex;
}

div.i-m {
    width: 9.921875vw;
    height: 10.9375vw;
}

div.i-m-p {
    margin: 1.5625vw;
    position: relative;
    width: 6.796875vw;
    height: 6.796875vw;
}

img.i-m-i {
    position: absolute;
    width: 6.796875vw;
    height: 6.796875vw;
}

/* div.b-t-p {
    width: 26.953125vw;
    background-color: hsl(0, 0%, 100%);
} */

div.z-c-pb,
div.p {
    display: flex;
    flex-direction: column;
}

div.z-c-pb {
    margin-top: 1.5625vw;
}

h1.z-c {
    font-size: 1.171875vw;
    font-weight: 600;
}

p.p-t {
    margin-top: 0.9375vw;
    font-size: 1.015625vw;
    font-weight: normal;
}

div.t-p {
    margin-top: 0.9375vw;
}

div.t-p-b {
    width: 26.71875vw;
    height: 1.5625vw;
    background-color: hsl(0, 0%, 100%);
}

div.i-g {
    display: flex;
}

img.i-g-p {
    border-radius: 100%;
    width: 1.328125vw;
    height: 1.328125vw;
}

div.t-t-p {
    margin-left: 0.8046875vw;
}

h1.t-t {
    font-size: 1.015625vw;
    font-weight: normal;
}

div.t-p2 {
    margin-top: 0.390625vw;
}

div.p-r {
    width: 9.609375vw;
    height: 6.015625vw;
    background-color: hsl(0, 0%, 100%);
}

div.h-p {
    margin: 1.5625vw 1.5625vw 0 0;
}

h1.h {
    font-size: 1.5625vw;
    font-weight: 600;
    margin: 1.5625vw 1.5625vw 0 0;
    float: right;
}

button.p-r-b {
    margin: 2.34375vw 1.5625vw 0 0;
    float: right;
    width: auto;
    height: auto;
    padding: 0.8984375vw 1.75vw;
    background-color: #00CC99;
    font-size: 1.171875vw;
    font-weight: normal;
    color: white;
    border-radius: 0.3125vw;
    cursor: pointer;
}

button.p-r-b:hover {
    background-color: #01b185;
}

button.p-b-n-b {
    width: 46.640625vw;
    height: 4.6875vw;
    border: 0.078125vw solid hsl(0, 0%, 93%);
    color: hsl(220, 100%, 70%);
    font-size: 1.171875vw;
    font-weight: normal;
    cursor: pointer;
}

div.m-i-1-b {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

div.m-i-1-b>div {
    width: 100%;
    /* border: 1px solid black; */
}

/* */
h1.characteristic {
    font-size: 1.71875vw;
    font-weight: 600;
    margin-left: 6.25vw;
    padding-bottom: 2.34375vw;
}


div.flex {
    display: flex;
    /* width: 219px; */
    height: auto;
    margin: 0 0 2.8125vw 6.25vw;
}

div.b-1-pic {
    position: relative;
    width: 4.21875vw;
    height: 4.21875vw;
}

img.b1-img {
    position: absolute;
    width: 4.21875vw;
    height: 4.21875vw;
    border-radius: 0.78125vw;
}

h1.b1-t1 {
    font-size: 1.09375vw;
    font-weight: 103;
    margin: 0.390625vw 0 0 0.9375vw;
    font-weight: 600;
}

h1.b1-t2 {
    font-size: 1.09375vw;
    font-weight: 120;
    margin: 0.46875vw 0 0 0.9375vw;
    font-weight: 300;
    width: 16.484375vw;
}

/*  */

div.b-f-h {
    margin-top: 2.34vw;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 97.265625vw;
    height: 38.125vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.171875vw;
    margin-left: auto;
    margin-right: auto;
}

div.o-b-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 38.125vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.171875vw 0 0 1.171875vw;
}

h1.f-o-f {
    font-size: 11.796875vw;
    font-weight: 700;
}

div.t-b-t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 38.125vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 1.171875vw 1.171875vw 0;
}

h1.t-n-h {
    font-size: 2.65625vw;
    font-weight: 700;
    color: hsl(60, 3%, 22%);
}

div.n-a-w-p {
    margin-top: 1.09375vw;
}

h1.n-a-w {
    font-size: 1.71875vw;
    font-weight: 600;
    color: hsl(0, 0%, 77%);
}

div.btn-p {
    margin-top: 3.515625vw;
}

button.btn {
    width: 24.84375vw;
    height: 5.3125vw;
    border-radius: 3.90625vw;
    background-color: hsl(0, 0%, 97%);
    border: 0.078125vw solid transparent;
    font-size: 2.03125vw;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(165, 100%, 40%);
    color: white;
}

div.b-backet {
    margin-top: 2.3vw;
    margin-right: auto;
    margin-left: auto;
    width: 97.1vw;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.17vw;
}

h1.u-backet {
    font-size: 1.87vw;
    font-weight: 600;
    text-align: center;
}

h1.product-b {
    font-size: 1vw;
    font-weight: 153;
    text-align: center;
    margin-top: 0.78vw;
}

div.grid-backet {
    display: grid;
    grid-template-columns: 84.6vw;
    margin: 3.59vw 0 0 6.25vw;

}

div.backet-p {
    border: 0.078vw solid hsl(0, 0%, 93%);
    display: flex;
    margin-top: 1.17vw;
    border-radius: 0.78vw;
}

div.img-basket-picture {
    margin: 0.62vw 0 0.62vw 0.62vw;
    position: relative;
    width: 11.7vw;
    height: 11.7vw;
}

img.img-backet {
    position: absolute;
    width: 11.7vw;
    height: 11.7vw;
}

div.id-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42vw;
}

h1.id-b-t1 {
    font-size: 1.25vw;
    font-weight: 600;
    margin-left: 2.4vw;
    color: hsl(166, 75%, 48%);
}

h1.id-b-t2 {
    font-size: 1.25vw;
    font-weight: 600;
    margin: 0.93vw 0 0 2.4vw;

}

h1.id-b-t3 {
    font-size: 1.25vw;
    font-weight: normal;
    margin: 0.93vw 0 0 2.4vw;
    color: hsl(0, 0%, 73%);
}

div.quantity-block {
    width: 11.25vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.quantity {
    width: auto;
    height: 4.37vw;
    display: flex;
    border: 0.078vw solid hsl(0, 0%, 93%);
    border-radius: 0.78vw;
}


button.but {
    width: 2.6vw;
    ;
    height: 4.37vw;
    border: none;
    font-size: 2.18vw;
    font-weight: normal;
    color: hsl(0, 0%, 72%);
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
    padding: 0 0.93vw;
}

div.but-quantity-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1.but-quantity {
    font-size: 1.25vw;
    font-weight: normal;
}

button.but-p {
    width: 2.6vw;
    height: 4.37vw;
    border: none;
    font-size: 2.18vw;
    font-weight: normal;
    color: hsl(0, 0%, 72%);
    background-color: hsl(0, 0%, 100%);
    padding: 0 0.93vw;
    cursor: pointer;
}

div.priceb {
    width: 18.28vw;
    height: 4.37vw;
    display: flex;
    flex-direction: column;
}

h1.price-backet {
    margin-top: 3.1vw;
    font-size: 1.7vw;
    font-weight: normal;
    color: hsl(0, 0%, 40%);
    text-align: right;
    margin-right: 3.59vw;
}

button.add {
    width: auto;
    margin-top: 0.62vw;
    font-size: 1.17vw;
    font-weight: normal;
    color: hsl(165, 100%, 40%);
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 3.59vw;
}

button.delete {
    width: auto;
    margin-top: 0.54vw;
    font-size: 1.17vw;
    font-weight: normal;
    color: hsl(12, 91%, 57%);
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 3.59vw;
}

div.payment {
    width: 84.68vw;
    height: 12.89vw;
    margin-left: auto;
    margin-right: auto;
}

div.payment-block {
    margin-top: 2.3vw;
    width: 27.7vw;
    float: right;
}

.payment-flex {
    display: flex;
}

h1.result {
    font-size: 1.4vw;
    font-weight: 600;
}

h1.quantity-payment {
    font-size: 1.09vw;
    font-weight: normal;
    color: hsl(0, 0%, 40%);
}

div.price-payment-0 {
    width: 50%;
}

div.price-payment-1 {
    width: 50%;
}

h1.price-payment {
    font-weight: 600;
    font-size: 2.1vw;
    text-align: right;
}

button.pay {
    width: 27.7vw;
    height: 5.15vw;
    font-size: 1.25vw;
    font-weight: normal;
    margin-top: 2.5vw;
    border-radius: 0.78vw;
    border: none;
    background-color: hsl(166, 75%, 48%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

button.pay:hover {
    background-color: hsl(165, 99%, 35%);
}