* {
    margin: 0;
    padding: 0;
}



@media (prefers-color-scheme: dark) {
    :root {
        --font-color:hsl(216, 9%, 89%);
        --font-color-c:hsl(213, 4%, 58%);
        --border:hsl(0, 0%, 29%);
        --background:hsl(240, 2%, 10%);
        --background-back:hsl(0, 0%, 4%);
        --background-hover:hsl(240, 1%, 14%);
        --background-green:hsl(240, 1%, 14%);
        --skeleton-start:hsl(240, 1%, 14%);
        --skeleton-end:hsl(240, 1%, 34%);
        --popup-background:rgb(0,0,0,50%);
        --green: #20C29E;
        --green-hover:hsl(165, 100%, 25%);
        --exist:hsl(195, 100%, 40%);
        --exist-hover:	hsl(204, 75%, 46%);
        --red:hsl(12, 91%, 57%);
        --scroll:hsl(0, 0%, 33%);
        --scroll-hover:hsl(0, 0%, 81%);
    }
}
  
@media (prefers-color-scheme: light) {
    :root {
        --font-color:hsl(0, 0%, 0%);
        --font-color-c:hsl(212, 11%, 55%) ;
        --border:hsl(210, 3%, 85%);
        --background:hsl(0, 0%, 100%);
        --background-back:hsl(216, 14%, 93%);
        --background-hover:hsl(0, 0%, 98%);
        --background-green:hsl(120, 100%, 97%);
        --skeleton-start:hsl(0, 0%, 70%);
        --skeleton-end:hsl(0, 0%, 88%);
        --popup-background:rgb(0,0,0,25%);
        --green:hsl(165, 99%, 35%);
        --green-hover:hsl(165, 100%, 25%);
        --exist:hsl(195, 100%, 40%);
        --exist-hover:hsl(204, 75%, 46%);
        --red:hsl(12, 91%, 57%);
        --scroll:hsl(0, 0%, 81%);
        --scroll-hover:hsl(0, 0%, 33%);
    }
}

h1,h2,h3,h4,h5,h6,p {
    color: var(--font-color);
}

::-webkit-scrollbar {
    width: 0.78vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 1.17vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}

a {
    display: block;
    text-decoration: none;
    color: var(--font-color);
}

html {
    overflow-y: overlay;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

button,input {
    background-color: transparent;
    border: 0 none;
    font-family: 'Segoe UI', sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-radius: none;
}


body {
    position: relative;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background-back);
    color:var(--font-color);
    overflow-x: hidden;
}

header.main-block-1 {
    width: 100%;
    height: auto;
    background-color: var(--background);
    border-radius: 0 0 1.17vw 1.17vw;
}

div.main-block-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100vw;
    max-width: 112.5vw;
    height: auto;
}

div.m-s-1 {
    width: 100%;
}

div.m-g-1 {
    padding-top: 2.18vw;
    justify-content: center;
    display: grid;
    grid-template-columns: 20.93vw 52.18vw 21.25vw;
    padding-bottom: 2.18vw;
}

div.m-f-1 {
    display: flex;
    align-items: center;
    height: 4.2vw;
}

div.m-f-i-1 {
    position: relative;
    width: 1.36vw;
    height: 1.7vw;
}

img.m-p-i-1 {
    position: absolute;
    width: auto;
    height: 1.7vw;
}

div.m-f-b {
    margin-left: 1.36vw;
}

div.m-f-b-1 {
    border-left: 0.0781vw solid var(--border);
    height: 1.17vw;
}

div.m-f-t {
    margin-left: 1.36vw;
}

h1.m-f-t-1 {
    font-size: 1vw;
    font-weight: 300;
}

div.m-s {
    width: 47.3vw;
    height: 4.1vw;
    position: relative;
}

input.m-s-1 {
    position: absolute;
    background: url("images/search-active.svg") 2.14vw 1.32vw no-repeat;
    background-size: 1.32vw 1.32vw;
    width: 45.9vw;
    height: 1.25vw;
    padding: 1.4vw 0 1.4vw 5.9vw;
    background-color: var(--background);
    border: 0.0781vw solid var(--border);
    border-radius: 1.17vw;
    outline: none;
    color: var(--font-color);
    font-size: 1vw;
    font-weight: 400;
}

input.m-s-1::placeholder {
    color: var(--font-color-c);
    font-weight: normal;
}

input.m-s-1:focus {
    background: url("images/search-active.svg") 2.14vw 1.32vw no-repeat;
    background-size: 1.32vw 1.32vw;
    width: 45.9vw;
    height: 1.25vw;
    padding: 1.4vw 0 1.4vw 5.9vw;
    background-color: var(--background);
    border: 0.0781vw solid var(--border);
    border-radius: 1.17vw 1.17vw 0 0;
    outline: none;
    color: var(--font-color);
}

div.m-p-i {
    width: 100%;
}

div.m-p-i-b {
    height: 4.2vw;
    display: flex;
    float: right;
}

div.m-p-i-b-v {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.42vw;
    padding: 0.468vw;
    cursor: pointer;
}

div.m-p-i-b-v:hover {
    border-radius: 20%;
    background-color: var(--background-hover);
}

div.m-p-i-b-v-i {
    position: relative;
    width: 1.48vw;
    height: 1.48vw;
}

img.m-p-i-b-v-p {
    position: absolute;
    width: 1.48vw;
    height: 1.48vw;
}

div.m-p-i-b-v-t {
    margin-top: 0.5vw;
}

h1.m-p-i-b-v-t-1 {
    font-size: 0.859vw;
    font-weight: 300;
}

div.menu-select {
    padding-bottom:
        2.18vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

a.menu-s-b {
    display: block;
    width: auto;
    margin: 0 1.13vw;
    border-radius: 1.87vw;
    padding: 1.17vw;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

a.menu-s-b:hover {
    background-color: var(--background-hover);
}

a.menu-s-b-active {
    width: auto;
    margin: 0 1.13vw;
    background-color: var(--background-green);
    border-radius: 1.87vw;
    padding: 1.17vw;
    cursor: pointer;
    text-decoration: none;
}

div.menu-s-b-i {
    display: flex;
    align-items: center;
    height: 1.52vw;
}

div.menu-s-b-i-i {
    position: relative;
    width: 1.52vw;
    height: 1.52vw;
}

img.menu-s-b-i-p {
    position: absolute;
    width: 1.52vw;
    height: 1.52vw;
}

div.menu-s-b-i-t {
    margin-left: 0.78vw;
}

h1.menu-s-b-i-t-1-active {
    color: var(--green);
    font-size: 1vw;
    font-weight: normal;
}

h1.menu-s-b-i-t-1 {
    font-size: 1vw;
    font-weight: 300;
}

div.panel-select {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2.18vw;
}

div.panel-s-b {
    margin: 0.78vw;
    width: 9vw;
    height: 10.2vw;
    border-radius: 1.17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 0.0781vw solid var(--border);
}

div.panel-s-b:hover {
    background-color: var(--background-hover);
}

div.panel-s-b-i {
    position: relative;
    width: 4.2vw;
    height: 4.2vw;
}

img.panel-s-b-p {
    margin-top: 0.78vw;
    position: absolute;
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 1.48vw;
}

div.panel-s-b-t {
    margin-top: 1.56vw;
}

h1.panel-s-b-t-1 {
    width: 6.7vw;
    font-size: 1vw;
    line-height: 1.56vw;
    text-align: center;
    font-weight: normal;
}

div.m {
    width: calc(100% - 1.17vw);
    height: auto;
    background-color: var(--background);
    border-radius: 1.17vw;
    margin-top: 1.17vw;
    margin-left: auto;
    margin-right: auto;
    padding: 4.68vw 0;
}

div.m-block {
    max-width: 112.5vw;
    min-width: 98.67vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1.m-p {
    text-align: center;
    font-weight: 600;
    font-size: 1.87vw;
    color: var(--font-color);
}

h1.m-p-content {
    margin-top: 0.78vw;
    font-weight: normal;
    font-size: 1vw;
    text-align: center;
    color: var(--font-color);
}

h1.m-p-1 {
    margin: 4.68vw 0 1.35vw 6.25vw;
    font-size: 1.7vw;
    font-weight: 600;
}

div.b {
    margin-top: 2.34vw;
    display: grid;
    margin-left: 5.3vw;
    grid-template-columns: repeat(auto-fit, 17.3vw);
}

a.m-p-b {
    display: block;
    width: 15.3vw;
    height: 24vw;
    background-color: var(--background);
    border-radius: 1.17vw;
    border: 0.0781vw solid var(--border);
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
    text-decoration: none;
}

a.m-p-b:hover {
    border: 0.0781vw solid var(--green);
}

div.m-d-b {
    margin: 0.967vw;
}

div.m-t-p {
    margin: 0.234vw 0.937vw 0 0.937vw;
}

h1.m-t {
    height: 2.96vw;
    font-size: 1vw;
    font-weight: normal;
}

div.m-i-1-1 {
    padding: 0.859vw;
    position: relative;
    width: 13.67vw;
    height: 13.67vw;
}

img.m-i {
    position: absolute;
    width: 13.67vw;
    height: 13.67vw;
}

div.l-t-p {
    margin-top: 0.78vw;
}

h1.l-t {
    font-size: 0.7vw;
    font-weight: 300;
    color: var(--font-color-c);
}

div.m-l-p {
    width: 100%;

    display: flex;
    align-items: center;
}

h1.l-p {
    font-size: 1vw;
    font-weight: 600;
}

div.p-p {
    background-color: var(--background-green);
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 3.1vw;
    height: 3.1vw;
    border-radius: 100%;
    justify-content: center;
}

div.i-p-1 {
    position: relative;
    width: 1.4vw;
    height: 1.07vw;
}

img.p {
    position: absolute;
    width: 1.4vw;
    height: 1.07vw;
}

/* */
div.maybe-panel {
    width: 100%;
    height: auto;
    background-color: var(--background);
    border-radius: 1.17vw;
    margin-top: 1.17vw;
    padding: 4.68vw 0 3.5vw 0;
}

div.maybe-panel-block {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

div.maybe-g-p {
    display: grid;
    grid-template-columns: repeat(auto-fit, 29.1vw);
    margin: 2.34vw 0 0 6.48vw;
}

div.maybe-g-p-b {
    margin: 1.17vw;
}

div.maybe-g-p-b1 {
    width: 26.8vw;
    height: 13vw;
    border: 0.0781vw solid var(--border);
    border-radius: 1.17vw;
    cursor: pointer;
}

div.maybe-g-p-b1:hover {
    border: 0.0781vw solid var(--green);
}

div.maybe-flex {
    display: flex;
}

div.maybe-flex-picture {
    position: relative;
    width: 11.87vw;
    height: 11.87vw;
    margin: 0.625vw;
}

img.maybe-flex-image {
    position: absolute;
    width: 11.87vw;
    height: 11.87vw;
    object-fit: cover;
}

div.maybe-flex-container {
    width: 13.67vw;
}

h1.b-t1 {
    font-size: 1vw;
    height: 2.97vw;
    margin: 2.34vw 0 0 1vw;
    font-weight: normal;
}

h1.b-t2 {
    font-size: 0.7vw;
    margin: 0.78vw 0 0 1vw;
    font-weight: 300;
    color: var(--font-color-c);
}

div.maybe-f-b {
    display: flex;
}

h1.b-t3 {
    width: 7.4vw;
    font-size: 1vw;
    margin: 0.78vw 0 0 1vw;
    font-weight: 600;
}

div.b-i-p {
    margin: 1.95vw 0 0 1vw;
}

div.b-p-p {
    background-color: var(--background-green);
    display: flex;
    align-items: center;
    width: 3.1vw;
    height: 3.1vw;
    border-radius: 100%;
    justify-content: center;
}

div.show-product {
    margin-top: 2.5vw;
    padding-bottom: 5.6vw;
    width: 72.57vw;
    height: 28.5vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

div.show-product-1 {
    width: 10.93vw;
    height: 28.5vw;
}

div.show-product-2 {
    width: 28.5vw;
    height: 28.5vw;
}

div.show-product-3 {
    width: 54.1wv;
    height: 28.5vw;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    a.show-p-b {
        z-index: 3;
        position: absolute;
        width: 3.9vw;
        height: 3.9vw;
        border-radius: 100%;
        background-color: var(--background-hover);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    a.show-p-b-fixed {
        z-index: 3;
        position: fixed;
        width: 3.9vw;
        height: 3.9vw;
        border-radius: 100%;
        background-color: var(--background-hover);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 3.1vw;
    }
}

@media screen and (max-width: 112.4vw) {
    a.show-p-b {
        margin-left: 2.8vw;
        z-index: 3;
        position: absolute;
        width: 3.9vw;
        height: 3.9vw;
        border-radius: 100%;
        background-color: var(--background-hover);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    a.show-p-b-fixed {
        margin-left: 1.56vw;
        z-index: 3;
        position: fixed;
        width: 3.9vw;
        height: 3.9vw;
        border-radius: 100%;
        background-color: var(--background-hover);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 3.1vw;
    }
}


div.show-p-b-p {
    position: relative;
    width: 0.78vw;
    height: 1.29vw;
}

img.show-p-b-i {
    position: absolute;
    width: 0.78vw;
    height: 1.29vw;
}

div.show-p-p {
    position: relative;
    width: 28.5vw;
    height: 28.5vw;
}

img.show-p-i {
    position: relative;
    width: 28.5vw;
    height: 28.5vw;
}

div.show-p-i-b {
    margin-left: 13.1vw;
    width: 34vw;
    height: auto;
}

div.show-p-i-b-h-loader {
    width: 23vw;
    height: 2.1vw;
    border-radius: 1.04vw;
}

h1.show-p-i-b-h {
    font-size: 2.8vw;
    font-weight: normal;
    line-height: 3.75vw;
}

p.show-p-i-b-p {
    margin-top: 2.1vw;
    font-size: 1.4vw;
    font-weight: 300;
}

img.show-button-loader {
    width: auto;
    height: 0.625vw;
}

div.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--skeleton-start);
    }

    100% {
        background-color: var(--skeleton-end);
    }
}

div.show-p-i-b-p-loader-1 {
    margin-top: 2.1vw;
    width: 30.39vw;
    height: 1.17vw;
    border-radius: 0.585vw;
}

div.show-p-i-b-p-loader-2 {
    margin-top: 0.937vw;
    width: 27.5vw;
    height: 1.17vw;
    border-radius: 0.585vw;
}

div.show-p-i-b-p-loader-3 {
    margin-top: 2.6vw;
    width: 24vw;
    height: 1.17vw;
    border-radius: 0.585vw;
}

div.show-p-i-b-f {
    margin-top: 2.1vw;
    display: flex;
}

a.show-button {
    display: block;
    text-decoration: none;
    padding: 0.82vw 1.74vw;
    background-color: var(--green);
    border-radius: 0.312vw;
    font-size: 1.17vw;
    color: var(--background);
    font-weight: normal;
    cursor: pointer;
}

a.show-button:hover {
    background-color: var(--green-hover);
}

div.show-f-p {
    position: relative;
    width: 1.74vw;
    height: 1.44vw;
    margin-right: 1.57vw;
}

img.show-f-i {
    position: absolute;
    width: 1.74vw;
    height: 1.44vw;
}

button.show-favourite {
    margin-left: 2vw;
    display: flex;
    align-items: center;
    font-size: 1.17vw;
    color: var(--red);
    cursor: pointer;
    border-radius: 0.312vw;
    padding-right: 0.78vw;
}

button.show-favourite:hover {
    background-color: var(--background-hover);
}

/* */
div.c-b {
    float: right;
    padding-right: 6.25vw;
}

h1.c-b-t {
    font-size: 1.7vw;
    font-weight: 600;
    padding-bottom: 2.34vw;
}

div.b-m {
    width: 46.48vw;
    height: 10.93vw;
    background-color: var(--background);
    border: 0.0781vw solid var(--border);
}

div.i {
    display: flex;
    background-color: var(--background);
}

div.i-m {
    width: 9.92vw;
    height: 10.93vw;
}


div.i-m-p {
    margin: 1.56vw;
    position: relative;
    width: 6.79vw;
    height: 6.79vw;
}

img.i-m-i {
    position: absolute;
    width: 6.79vw;
    height: 6.79vw;
}

/* баг я хз почему но если мы уберем это свойство то пизда всему*/
div.b-t-p {
    width: 23.4vw;
    background-color: var(--background);
}

div.z-c-pb {
    margin-top: 1.56vw;
}

h1.z-c {
    font-size: 1.17vw;
    font-weight: 600;
}

p.p-t {
    margin-top: 0.937vw;
    font-size: 1vw;
    font-weight: normal;
}

div.t-p {
    margin-top: 0.937vw;
}

div.t-p-b {
    width: 26.7vw;
    height: 1.56vw;
    background-color: var(--background);
}

div.i-g {
    display: flex;
}

img.i-g-p {
    border-radius: 100%;
    width: 1.32vw;
    height: 1.32vw;
}

div.t-t-p {
    margin-left: 0.8vw;
}

h1.t-t {
    font-size: 1vw;
    font-weight: normal;
}

/* я знаю ты сейчас недоволен, но нервы дороже! */
/* это отступ между закрыто/открыто */
div.t-p2 {
    margin-top: 0.39vw;
}

div.p-r {
    width: 13.125vw;
    height: 6vw;
    background-color: var(--background);
}

div.h-p {
    margin: 1.56vw 1.56vw 0 0;
}

h1.h {
    font-size: 1.56vw;
    font-weight: 600;
    margin: 1.56vw 1.56vw 0 0;
    float: right;
}

button.p-r-b {
    margin: 2.34vw 1.56vw 0 0;
    float: right;
    width: auto;
    height: auto;
    padding: 0.898vw 1.75vw;
    background-color: var(--green);
    font-size: 1.17vw;
    font-weight: normal;
    color: var(--background);
    border-radius: 0.312vw;
    cursor: pointer;
}

button.p-r-b:hover {
    background-color: var(--green-hover);
}

a.p-r-b {
    display: block;
    text-decoration: none;
    margin: 2.34vw 1.56vw 0 0;
    float: right;
    width: auto;
    height: auto;
    padding: 0.898vw 1.75vw;
    background-color: var(--exist);
    font-size: 1.17vw;
    font-weight: normal;
    color: var(--background);
    border-radius: 0.312vw;
    cursor: pointer;
}

a.p-r-b:hover {
    background-color: var(--exist-hover);
}

button.p-b-n-b {
    width: 46.64vw;
    height: 4.68vw;
    border: 0.0781vw solid var(--border);
    color: var(--exist);
    font-size: 1.17vw;
    font-weight: normal;
    cursor: pointer;
}
button.p-b-n-b:hover {
    background-color: var(--background-hover);
    color: var(--exist-hover);
}

div.m-i-1-b {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

div.m-i-1-b>div {
    width: 100%;
    /* border: 1px solid var(--font-color); */
}

/* */
h1.characteristic {
    font-size: 1.7vw;
    font-weight: 600;
    margin-left: 6.25vw;
    padding-bottom: 2.34vw;
}

div.flex {
    display: flex;
    height: auto;
    margin: 0 0 2.8vw 6.25vw;
}

div.b-1-pic {
    position: relative;
    width: 4.2vw;
    height: 4.2vw;
}

img.b1-img {
    position: absolute;
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 0.78vw;
}

h1.b1-t1 {
    font-size: 1.09vw;
    margin: 0.39vw 0 0 0.937vw;
    font-weight: 600;
}

h1.b1-t2 {
    font-size: 1.09vw;
    margin: 0.468vw 0 0 0.937vw;
    font-weight: 300;
    width: 23.4vw;
}

/* */
div.b-f-h {
    margin-top: 2.34vw;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 112.5vw;
    width: 97.1vw;
    height: 38vw;
    background-color: var(--background);
    border-radius: 1.17vw;
    margin-left: auto;
    margin-right: auto;
}

div.o-b-f {
    width: auto;
    height: 38vw;
    background-color: var(--background);
    border-radius: 1.17vw 0 0 1.17vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1.f-o-f {
    font-size: 11.8vw;
    font-weight: 700;
}

div.t-b-t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 38vw;
    background-color: var(--background);
    border-radius: 0 1.17vw 1.17vw 0;
}

h1.t-n-h {
    font-size: 2.65vw;
    font-weight: 700;
    color: var(--font-color);
}

div.n-a-w-p {
    margin-top: 1.09vw;
}

h1.n-a-w {
    font-size: 1.7vw;
    font-weight: 600;
    color: var(--font-color-c);
}

div.btn-p {
    margin-top: 3.5vw;
}

button.btn {
    width: 24.84vw;
    height: 5.3vw;
    border-radius: 3.9vw;
    background-color: var(--background-back);
    border: 0.0781vw solid transparent;
    font-size: 2vw;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--green);
    color: var(--background);
}

/* Desktop Basket */

div.b-backet {
    margin-top: 2.34vw;
    margin-right: auto;
    margin-left: auto;
    width: 97vw;
    height: auto;
    background-color: var(--background);
    border-radius: 1.17vw;
}

h1.u-backet {
    font-size: 1.87vw;
    font-weight: 600;
    text-align: center;
}

h1.product-b {
    font-size: 1vw;
    font-weight: 153;
    text-align: center;
    margin-top: 0.78vw;
}

div.grid-backet {
    display: grid;
    grid-template-columns: 84.68vw;
    margin: 3.59vw 0 0 6.25vw;

}

div.backet-p {
    border: 0.0781vw solid var(--border);
    display: flex;
    margin-top: 1.17vw;
    border-radius: 1.17vw;
}

div.img-basket-picture {
    margin: 0.625vw 0 0.625vw 0.625vw;
    position: relative;
    width: 11.7vw;
    height: 11.7vw;
}

img.img-backet {
    position: absolute;
    width: 11.7vw;
    height: 11.7vw;
}

div.id-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42.18vw;
}

h1.id-b-t1 {
    font-size: 1.25vw;
    font-weight: 600;
    margin-left: 2.42vw;
    color: var(--green);
}

h1.id-b-t2 {
    font-size: 1.25vw;
    font-weight: 600;
    margin: 0.937vw 0 0 2.42vw;

}

h1.id-b-t3 {
    font-size: 1.25vw;
    font-weight: normal;
    margin: 0.937vw 0 0 2.42vw;
    color: var(--font-color-c);
}

div.quantity-block {
    width: 11.25vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.quantity {
    width: auto;
    height: 4.375vw;
    display: flex;
    border: 0.078vw solid var(--border);
    border-radius: 1.17vw;
}


button.but {
    width: 3.125vw;
    height: auto;
    border: none;
    font-size: 2.1875vw;
    font-weight: normal;
    color: var(--font-color-c);
    cursor: pointer;
}

button.but:hover {
    background-color: var(--background-hover);
    border-radius: 1.17vw 0 0 1.17vw;
}

div.but-quantity-block {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 0.39vw;
}

input.but-quantity {
    width: 3.125vw;
    font-size: 1.25vw;
    font-weight: normal;
    color:var(--font-color);
    border:0 none;
    outline: none;
    text-align: center;
}

input.but-quantity::placeholder {
    font-size: 1.25vw;
    font-weight: normal;
    color:var(--font-color);
}

button.but-p {
    width: 3.125vw;
    height: auto;
    border: none;
    font-size: 2.1875vw;
    font-weight: normal;
    color: var(--font-color-c);
    cursor: pointer;
}

button.but-p:hover {
    background-color: var(--background-hover);
    border-radius: 0 1.17vw 1.17vw 0;
}
div.priceb {
    width: 18.28vw;
    height: 4.37vw;
    display: flex;
    flex-direction: column;
}

h1.price-backet {
    margin-top: 3.1vw;
    font-size: 1.7vw;
    font-weight: normal;
    color: var(--font-color);
    text-align: right;
    margin-right: 3.59vw;
}

button.add {
    width: auto;
    margin-top: 0.625vw;
    font-size: 1.17vw;
    font-weight: normal;
    color: var(--green);
    text-align: right;
    cursor: pointer;
    margin-right: 3.59vw;
}

button.delete {
    width: auto;
    margin-top: 0.546vw;
    font-size: 1.17vw;
    font-weight: normal;
    color: var(--red);
    text-align: right;
    cursor: pointer;
    margin-right: 3.59vw;
}

div.payment {
    width: 84.68vw;
    height: 12.89vw;
    margin-left: auto;
    margin-right: auto;
}

div.payment-block {
    margin-top: 2.34vw;
    width: 27.7vw;
    float: right;
}

.payment-flex {
    display:
        flex;
}

h1.result {
    font-size: 1.4vw;
    font-weight: 600;
}

h1.quantity-payment {
    font-size: 1.09vw;
    font-weight: normal;
    color: var(--font-color);
}

div.price-payment-0 {
    width: 50%;
}

div.price-payment-1 {
    width: 50%;
}

h1.price-payment {
    font-weight: 600;
    font-size: 2.1vw;
    text-align: right;
}

button.pay {
    width: 27.7vw;
    height: 5.15vw;
    font-size: 1.25vw;
    font-weight: normal;
    margin-top: 2.5vw;
    border-radius: 0.78vw;
    border: none;
    background-color: var(--green);
    color: var(--background);
    cursor: pointer;
}

button.pay:hover {
    background-color: var(--green-hover);
}

/* */

div.b1-img {
    position: absolute;
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 1.48vw;
}

div.b1-t1 {
    width: 17.65vw;
    height: 1.17vw;
    border-radius: 1.87vw;
    margin: 0.7vw 0 0 0.937vw;
}

div.b1-t2 {
    width: 15.6vw;
    height: 1.17vw;
    border-radius: 1.87vw;
    margin: 0.78vw 0 0 0.937vw;
}

/* */

div.i-m-p {
    margin: 1.56vw;
    position: relative;
    width: 6.79vw;
    height: 6.79vw;
}

div.i-m-i {
    position: absolute;
    width: 6.79vw;
    height: 6.79vw;
}

div.z-c {
    width: 13.3vw;
    height: 1.17vw;
    border-radius: 1.87vw;
}

div.p-t {
    margin-top: 1.17vw;
    width: 17.65vw;
    height: 1.17vw;
    border-radius: 1.87vw;
}

div.i-g-p {
    border-radius: 100%;
    width: 1.32vw;
    height: 1.32vw;
}

div.t-t {
    width: 10vw;
    height: 1.32vw;
    border-radius: 1.87vw;
}

div.h {
    width: 8vw;
    height: 1.48vw;
    border-radius: 0.78vw;
    margin: 1.56vw 1.56vw 0 0;
    float: right;
}

/* Login */

div.join-text-place {
    text-align: center;
}

h1.join-text {
    font-size: 1.95vw;
    font-weight: 600;
    color: var(--font-color);
}

div.main-four-blocks-place {
    margin-top: 4.68vw;
}

div.main-four-blocks {
    width: 97vw;
    height: 39vw;
    background-color: var(--background);
    border-radius: 1.17vw;
}

div.place-three-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 66.56vw;
    height: 28.67vw;
    background-color: var(--background);
}

div.first-block-in {
    width: 32.4vw;
    height: 18vw;
    background-color: var(--background);
}

h1.electron-addres {
    font-size: 0.937vw;
    font-weight: 700;
    color: var(--font-color);
}

div.place-input-in {
    margin-top: 0.468vw;
}

input.none-border {
    width: 27.8vw;
    height: 3.1vw;
    border: none;
    color: var(--font-color);
    font-size: 1.25vw;
    font-weight: normal;
    background-color: var(--background);
    border-bottom: 0.03vw solid var(--border);
    margin-bottom: 1.64vw;
}

input.none-border:focus {
    border-bottom: 0.03vw solid var(--green);
    outline: none;
}

input.none-border::placeholder {
    color: var(--font-color-c);
    font-size: 1.25vw;
    font-weight: normal;
}

div.place-button-in {
    padding-top: 1.09vw;
}

button.button-join-in {
    width: 27.8vw;
    height: 3.82vw;
    background-color: var(--green);
    color: var(--background);
    border: none;
    border-radius: 0.39vw;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
}

button.button-join-in:hover {
    background-color: var(--green-hover);
}

/* */
div.second-block-in {
    width: 5.78vw;
    height: 18vw;
    background-color: var(--background);
}

div.vertical-stick {
    margin-left: 0.468vw;
    width: 0.038vw;
    height: 6.95vw;
    border: none;
    border-radius: 0.39vw;
    background-color: var(--border);
}

div.place-or {
    margin: 1.48vw 0 1.48vw 0;
}

h1.or {
    font-size: 0.937vw;
    font-weight: 600;
}

/* */
div.third-block-in {
    width: 28.3vw;
    height: 18vw;
    background-color: var(--background);
}

div.place-google-apple-facebook {
    margin-top: 0.937vw;
}

button.google {
    width: 27.96vw;
    height: 4.76vw;
    border-radius: 0.39vw;
    background-color: var(--background);
    border: 0.03vw solid var(--border);
    cursor: pointer;
    font-size: 1.17vw;
    font-weight: 600;
    color: var(--font-color);
}

button.google:hover {
    background-color: var(--border);
    transition: 10ms;
}

div.place-img-in-button {
    margin-left: 1.87vw;
    float: left;
}

img.img-in-button {
    width: auto;
    height: 1.7vw;
}


/* */

div.four-block-in {
    width: 66.56vw;
    height: 10.4vw;
    background-color: var(--background);
}

div.place-registration {
    text-align: center;
    padding-top: 3.59vw;
}

h1.regis-text {
    font-size: 1.09vw;
    font-weight: normal;
}

button.regis-green {
    color: var(--green);
    border: none;
    background-color: var(--background);
    cursor: pointer;
    font-size: 1.25vw;
}

div.place-secure-captcha {
    margin-top: 2.5vw;
}

h1.secure-captcha {
    font-size: 1.09vw;
    font-weight: 600;
    color: var(--font-color-c);
}

h1.secure-privacy {
    font-size: 1vw;
    font-weight: normal;
    color: var(--font-color-c);
}

/* Search */

div.block-search {
    position: absolute;
    display: block;
    width: 51.87vw;
    height: auto;
    background-color: var(--background);
    border-radius: 0 0 1.17vw 1.17vw;
    border: 0.0781vw solid var(--border);
    z-index: 50;

}

a.flex-search {
    display: flex;
    cursor: pointer;
}

a.flex-search:hover {
    background-color: var(--background-hover);
}


div.flex-search {
    display: flex;
    cursor: pointer;
}

div.flex-search:hover {
    background-color: var(--background-hover);
}

div.block-picture-drugs {
    width: 6vw;
    height: 5.46vw;
    border-radius: 0 0 0 1.17vw;
}

div.place-drugs-picture {
    padding: 1vw;
}

div.picture-drugs-absolute {
    position: relative;
    width: 3.9vw;
    height: 3.9vw;
}

img.picture-drugs-relative {
    position: absolute;
    width: 3.9vw;
    height: 3.9vw;
    border-radius: 1.17vw;
}

div.block-drugs-text-in {
    width: 46vw;
    height: 5.46vw;
    border-radius: 0 0 1.17vw 0;
}

div.place-name-drugs-in {
    padding-top: 1.17vw;
}

h1.name-drugs-in {
    font-size: 1.09vw;
    font-weight: normal;
}

div.place-middle-price-in {
    margin-top: 0.468vw;
}

h1.middle-price-in {
    font-size: 0.937vw;
    font-weight: normal;
}

div.find-for-request-block {
    width: 100%;
    height: 3.1vw;
    background-color: var(--background);
    border-radius: 0 0 1.17vw 1.17vw;
    cursor: pointer;
}

div.find-for-request-place-text {
    text-align: center;
    padding-top: 0.78vw;
}

h1.find-for-request-text {
    font-size: 1.09vw;
    font-weight: normal;
}

div.find-for-request-block:hover {
    background-color: var(--background-hover);
}

div.picture-drugs-block {
    width: 3.9vw;
    height: 3.9vw;
    border-radius: 1.17vw;
}

div.name-drugs-in-block {
    width: 13.59vw;
    height: 1.4vw;
    border-radius: 0.78vw;
}


div.middle-price-in-block {
    margin-top: 0.546vw;
    width: 17vw;
    height: 1.4vw;
    border-radius: 0.78vw;
}

/* PopUp */
div.basket-float-window-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--popup-background);
    z-index: 100;
}

div.basket-float-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    width: 54.68vw;
    height: auto;
    border-radius: 1.7vw;
    padding-bottom: 2.34vw;
    background-color: var(--background);
}

div.place-block-text {
    margin-left: 3.1vw;
}

div.block-text-basket {
    display: flex;
    width: auto;
    height: auto;
    margin-bottom: 0.78vw;
}

div.place-text-basket {
    margin-top: 2.34vw;
}

h1.text-basket-name {
    color: var(--font-color);
    font-size: 1.87vw;
    font-weight: 600;
}

div.place-close-basket-block {
    margin-left: auto;
}

div.close-basket-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.03vw;
    height: 7.03vw;
    cursor: pointer;
}

div.close-place {
    position: relative;
    width: 1.25vw;
    height: 1.25vw;
}

img.close-img {
    position: absolute;
    width: 1.25vw;
    height: auto;
}

div.block-basket-width {
    display: flex;
    width: auto;
    height: 13.59vw;
}

div.block-basket-img {
    width: 12.26vw;
    height: auto;
}

img.drug-img-basket {
    width: 12.26vw;
    height: auto;
}

div.block-basket-characteristic {
    margin-left:3.9vw;
    width: 27.96vw;
    height: auto;
}

h1.basket-otriv-text {
    font-size: 1.4vw;
    font-weight: normal;
    color: var(--font-color);
    width: 27.96vw;
    height: 1.87vw;
}

div.block-price-company-place {
    margin-top: 1.17vw;
}

div.block-price-company {
    display: flex;
    width: 27.96vw;
    height: auto;
}

h1.price-basket {
    font-weight: 600;
    font-size: 1.87vw;
    color: var(--font-color);
}

div.place-company-name {
    display: flex;
    margin: 0.546vw 0 0 1.95vw;
}

h1.company-name {
    font-size: 1.09vw;
    font-weight: normal;
    color: var(--font-color);
}

a.company-name-green {
    text-decoration: none;
    font-size: 1.09vw;
    font-weight: normal;
    color: var(--green);
    margin-left: 0.39vw;
}

div.some-items-place {
    margin-top: 1.17vw;
}

div.place-button-block-basket {
    margin-top: 1.56vw;
}

div.button-block-basket {
    display: flex;
    width: 27.96vw;
    height: auto;
}

a.basket-button-join {
    display: block;
    width: 14.2vw;
    height: auto;
    background-color: var(--green);
    color: var(--background);
    border-radius: 1.4vw;
    border: none;
    cursor: pointer;
    font-size:1.09vw;
    text-align: center;
    padding:0.78vw 0;
}

a.basket-button-join:hover {
    background-color: var(--background-green);
    transition: all 0.5s ease;
}

div.place-continue-buying {
    position: relative;
    width:12vw;
    margin: 0.78vw 0 0 1.87vw;
}

button.continue-buying {
    position: absolute;
    color: var(--green);
    border: none;
    background-color: var(--background);
    font-size: 1.09vw;
    font-weight: normal;
    cursor: pointer;
}

button.continue-buying:hover {
    color: var(--background-green);
    transition: all 0.5s ease;
}

div.basket-otriv-text-loader {
    width: 20.3vw;
    height: 1.87vw;
    border-radius: 0.937vw;
}

div.price-basket-loader {
    width: 4.37vw;
    height: 2.5vw;
    border-radius: 1.25vw;
}

div.company-name-loader {
    width: 12.1vw;
    height: 1.48vw;
    border-radius: 0.78vw;
}

div.company-names-loader {
    width: 17vwx;
    height: 1.48vw;
    border-radius: 0.78vw;
}

div.continue-buying-loader {
    width: 10.78vw;
    height: 1.48vw;
    border-radius: 0.78vw;
}

div.menu-s-b-notification {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width:1.4vw;
    height:1.4vw;
    background-color: var(--red);
    border-radius: 100%;
    z-index:1;
    margin-left:1.02vw;
    margin-top:-0.78vw;
}
h1.menu-s-b-notification-text {
    font-size:0.78vw;
    font-weight: normal;
    color:white;
}