* {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color:hsl(216, 9%, 89%);
        --font-color-c:hsl(213, 4%, 58%);
        --border:hsl(0, 0%, 29%);
        --background:hsl(240, 2%, 10%);
        --background-back:hsl(0, 0%, 4%);
        --background-hover:hsl(240, 1%, 14%);
        --background-green:hsl(240, 1%, 14%);
        --skeleton-start:hsl(240, 1%, 14%);
        --skeleton-end:hsl(240, 1%, 34%);
    }
}
  
@media (prefers-color-scheme: light) {
    :root {
        --font-color:hsl(0, 0%, 20%);
        --font-color-c:hsl(220, 1%, 60%) ;
        --border:hsl(72, 15%, 87%);
        --background:hsl(0, 0%, 100%);
        --background-back:hsl(0, 0%, 97%);
        --background-hover:hsl(0, 0%, 99%);
        --background-green:hsl(120, 100%, 97%);
        --skeleton-start:hsl(0, 0%, 70%);
        --skeleton-end:hsl(0, 0%, 88%);
    }
}

::-webkit-scrollbar {
    width: 0.18125vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 0.18125vw;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 33%);
}

a {
    display: block;
    text-decoration: none;
    color: var(--font-color);
}

html {
    overflow-y: overlay;
}

button {
    background-color: transparent;
    border: 0 none;
    font-family: 'Segoe UI', sans-serif;
}

body {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background-back);
    padding-bottom: 30.1vw;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p {
    color: var(--font-color);
}

header.main-block-1 {
    width: 100vw;
    height: auto;
    background-color: var(--background);
    border-radius: 0 0 4.17vw 4.17vw;
}

div.m-1 {
    display: flex;
    flex-direction: column;
}

div.main-block-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;
}

div.m-g-1 {
    flex: 1;
    padding: 8.33vw 2.78vw 8.33vw 2.78vw;
    height: auto;
    display: grid;
    grid-template-columns: 47.2vw 47.2vw;
}

div#first {
    padding-left: 2.78vw;
    order: 1;
}

div#second {
    margin-top: 8.3vw;
    order: 3;
}

div#third {
    padding-right: 2.78vw;
    order: 2;
}

div.m-f-1 {
    padding-top: 1.6vw;
    display: flex;
    align-items: center;
    height: 8.94vw;
}

div.m-f-i-1 {
    position: relative;
    width: 8.94vw;
    height: 8.94vw;
}

img.m-p-i-1 {
    position: absolute;
    width: 8.94vw;
    height: 8.94vw;
}

div.m-f-b {
    margin-left: 3.49vw;
}

div.m-f-b-1 {
    border-left: 0.14vw solid var(--border);
    height: 6.23vw;
}

div.m-f-t {
    margin-left: 3.49vw;
}

h1.m-f-t-1 {
    font-size: 4.72vw;
    font-weight: 300;
}

div.m-s {
    position: relative;
    width: 94.4vw;
    height: 14.17vw;
}

input.m-s-1 {
    background: url("images/search-active.svg") 6.69vw 4.66vw no-repeat;
    background-size: 4.46vw auto;
    width: 68.47vw;
    height: 14.17vw;
    padding: 0 7.3vw 0 18.47vw;
    border-radius: 4.17vw;
    background-color: var(--background);
    border: 0.2vw solid var(--border);
    outline: none;
    color: var(--font-color);
    font-weight: normal;
    font-size: 3.89vw;
    font-weight: normal;
    color: #98999b;
}

input.m-s-1::placeholder {
    color: hsl(220, 1%, 60%);
    font-weight: normal;
}

input.m-s-1:focus {
    background: url("images/search-active.svg") 6.69vw 4.66vw no-repeat;
    background-size: 4.46vw auto;
    width: 68.47vw;
    height: 14.17vw;
    padding: 0 7.3vw 0 18.47vw;
    border-radius: 4.17vw 4.17vw 0 0;
    background-color: var(--background);
    border: 0.2vw solid var(--border);
    outline: none;
    color: var(--font-color);
    font-weight: normal;
}


div.m-p-i {
    width: 100%;
}

div.m-p-i-b {
    height: 12.9vw;
    display: flex;
    float: right;
}

div.m-p-i-b-v {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6.48vw;
    padding: 1.6vw;
    cursor: pointer;
}

div.m-p-i-b-v:hover {
    border-radius: 20%;
    background-color: var(--background-hover);
}

div.m-p-i-b-v-i {
    position: relative;
    width: 4.3vw;
    height: 4.3vw;
}

img.m-p-i-b-v-p {
    position: absolute;
    width: 4.3vw;
    height: 4.3vw;
}

div.m-p-i-b-v-t {
    margin-top: 1.6vw;
}

h1.m-p-i-b-v-t-1 {
    font-size: 2.36vw;
    font-weight: 300;
}

div.menu-select {
    padding: 3.3vw 0 6.9vw 0;
    position: fixed;
    z-index: 800;
    width: 100vw;
    height: 14.2vw;
    display: flex;
    justify-content: center;
    background: var(--background);
    bottom: 0;
    border-radius: 4.17vw 4.17vw 0 0;
}

a.menu-s-b {
    display: block;
    width: 20vw;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

a.menu-s-b-active {
    display: block;
    width: 20vw;
    cursor: pointer;
    color: #0c9;
    text-decoration: none;
}

div.menu-s-b-i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.menu-s-b-i-i {
    position: relative;
    width: 5.39vw;
    height: 5.39vw;
}

img.menu-s-b-i-p {
    position: absolute;
    width: 5.39vw;
    height: 5.39vw;
}

div.menu-s-b-i-t {
    margin-top: 1.69vw;
}

h1.menu-s-b-i-t-1-active {
    color:hsl(165, 100%, 40%);
    font-size: 2.78vw;
    font-weight: normal;
}

h1.menu-s-b-i-t-1 {
    font-size: 2.78vw;
    font-weight: 300;
}

div.panel-select {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 23.8vw);
    padding: 0 2.2vw;
    padding-bottom: 11.94vw;
}

div.panel-s-b {
    width: 23.8vw;
    height: 27.09vw;
    border-radius: 4.17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 2.92vw;
}

div.panel-s-b:hover {
    background-color: var(--background-hover);
}

div.panel-s-b-i {
    position: relative;
    width: 13.3vw;
    height: 13.3vw;
}

img.panel-s-b-p {
    position: absolute;
    width: 13.3vw;
    height: 13.3vw;
    border-radius: 5.28vw;
}

div.panel-s-b-t {
    margin-top: 2.92vw;
}

h1.panel-s-b-t-1 {
    width: 20.7vw;
    font-size: 2.7vw;
    line-height: 4.17vw;
    text-align: center;
    font-weight: normal;
}

/*  */

div.m {
    margin-top: 4.2vw;
    width: 100vw;
    height: auto;
    border-radius: 4.2vw;
    background-color: var(--background);
}

div.m-block {
    width: 100%;
    padding-top: 8.3vw;
}

h1.m-p {
    font-weight: 600;
    font-size: 5.56vw;
    text-align: center;
    color: var(--font-color);
}

h1.m-p-content {
    margin-top: 1.39vw;
    font-weight: normal;
    font-size: 3.05vw;
    text-align: center;
    color: var(--font-color);
}

div.b {
    display: grid;
    grid-template-columns: 50vw 50vw;
    padding: 8.3vw 0 5.75vw 0;
}

div.m-d-b {
    margin: 1.39vw;
}

a.m-p-b {
    display: block;
    text-decoration: none;
    width: 47.2vw;
    height: 78.83vw;
    background-color: var(--background);
    border-radius: 2.08vw;
    border: 0.14vw solid var(--border);
    cursor: pointer;
}

a.m-p-b:hover {
    border: 0.14vw solid hsl(165, 100%, 40%);
}

div.m-i-1-1 {
    padding: 2.64vw;
    position: relative;
    width: 41.95vw;
    height: 41.95vw;
}

img.m-i {
    position: absolute;
    width: 41.95vw;
    height: 41.95vw;
    object-fit: cover;
}

div.m-t-p {
    margin: 3.36vw 2.64vw 0 2.64vw;
}

h1.m-t {
    height: 9.44vw;
    font-size: 3.33vw;
    line-height: 5vw;
    font-weight: normal;
}

div.l-t-p {
    margin-top: 2.65vw;
}

h1.l-t {
    font-size: 2.2vw;
    font-weight: 300;
    color: hsl(0, 0%, 68%);
}

div.m-l-p {
    width: 100%;
    display: flex;
    align-items: center;
}

h1.l-p {
    font-size: 3.3vw;
    font-weight: 600;
}

div.p-p {
    background-color: var(--background-green);
    display: flex;
    align-items: center;
    width: 9.6vw;
    height: 9.6vw;
    border-radius: 100%;
    justify-content: center;
    margin-left: auto;
}

div.i-p-1 {
    position: relative;
    width: 4.3vw;
    height: 3.3vw;
}

img.p {
    position: absolute;
    width: 4.3vw;
    height: 3.3vw;
}

/*  */

div.maybe-panel {
    margin-top: 4.2vw;
    width: 100vw;
    background-color: var(--background);
    height: auto;
    border-radius: 4.2vw;
    padding: 8.3vw 0;
}

div.maybe-g-p {
    margin-top: 8.3vw;
}

div.maybe-g-p-b {
    width: 97.2vw;
    margin: 2.78vw 1.39vw;
}

div.maybe-g-p-b1 {
    background-color: var(--background);
    border: 0.13vw solid var(--border);
    border-radius: 2.08vw;
    cursor: pointer;
}

div.maybe-g-p-b1:hover {
    border: 0.13vw solid hsl(165, 100%, 40%);
}

div.maybe-flex {
    display: flex;
}

div.maybe-flex-picture {
    position: relative;
    width: 43.19vw;
    height: 43.19vw;
    margin: 2.22vw;
}

img.maybe-flex-image {
    position: absolute;
    width: 43.19vw;
    height: 43.19vw;
    object-fit: cover;
}

div.maybe-flex-container {
    width: 49.58vw;
}

h1.b-t1 {
    font-size: 3.47vw;
    line-height: 5.56vw;
    height: 10.14vw;
    font-weight: normal;
    margin-top: 1.79vw;
    margin-left: 3.3vw;
}

h1.b-t2 {
    font-size: 2.36vw;
    font-weight: 300;
    margin: 3.3vw;
    color: #AEAEAE;
}

h1.b-t3 {
    font-size: 3.6vw;
    font-weight: 600;
    margin: 2.92vw 0 0 3.3vw;
}

div.b-p-p {
    background-color: var(--background-green);
    display: flex;
    align-items: center;
    width: 11.39vw;
    height: 11.39vw;
    border-radius: 100%;
    justify-content: center;
    margin: 2.36vw 0 0 3.05vw;
}

/*  */

div.b-f-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.17vw;
    width: 100vw;
    height: 100vw;
    border-radius: 4.17vw;
    background-color: var(--background);
}

div.o-b-f {
    width: 45vw;
    height: 30.5vw;
    background-color: var(--background);
    margin: 0 auto;
}

h1.f-o-f {
    font-size: 26.1vw;
    font-weight: 600;
}

div.t-b-t {
    margin-top: 6vw;
    text-align: center;
}

div.p-t-n-h {
    height: 7.36vw;
}

h1.t-n-h {
    font-size: 6.25vw;
    font-weight: 600;
}

div.n-a-w-p {
    width: 86.52vw;
    height: 4.58vw;
}

h1.n-a-w {
    color: hsl(0, 0%, 77%);
    font-size: 3.88vw;
    font-weight: normal;
    margin-bottom: 7.2vw;
}


button.btn {
    padding: 4vw 6vw;
    font-size: 3.61vw;
    font-weight: 600;
    background-color: var(--background-back);
    border: none;
    margin-top: 4.08vw;
    cursor: pointer;
    border-radius: 4.8vw;
}

button.btn:hover {
    background-color: hsl(165, 100%, 40%);
    color: var(--background);
}

div.mobile-shop-info {
    margin-left: auto;
    margin-right: auto;
    width: 88.89vw;
    height: auto;
    border-radius: 0.56vw;
    background: var(--background);
    border: 0.14vw solid var(--border);
    margin-top: 4.17vw;
}

div.mobile-shop-info-block-1 {
    display: flex;
}

div.mobile-shop-info-block-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34.056vw;
    height: 33.056vw;
}

div.mobile-shop-info-block-item-p-1 {
    position: relative;
    width: 25.28vw;
    height: 25.28vw;
}

img.mobile-shop-info-block-item-i-1 {
    position: absolute;
    width: 25.28vw;
    height: 25.28vw;
}

div.mobile-shop-info-block-item-2 {
    position: relative;
    width: 54.83vw;
    height: 25.28vw;
    padding-top: 7.08vw;
}

h1.mobile-shop-info-block-item-title {
    width: 50.83vw;
    font-weight: 600;
    font-size: 3.61vw;
    text-align: left;
    color: var(--font-color);
}

h1.mobile-shop-info-block-item-content {
    margin-top: 2.36vw;
    width: 50.83vw;
    font-weight: normal;
    font-size: 3.61vw;
    text-align: left;
    color: var(--font-color);
}

div.mobile-shop-info-block-2 {
    width: 100%;
    height: 14.72vw;
    display: flex;
    align-items: center;
}

div.mobile-shop-info-block-2-item-1 {
    display: flex;
    width: 44.4vw;
    height: 4.9125vw;
}

div.mobile-shop-info-block-2-item-1-picture {
    margin-left: 4.17vw;
    position: relative;
    width: 4.9125vw;
    height: 4.9125vw;
}

img.mobile-shop-info-block-2-item-1-image {
    position: absolute;
    width: 4.9125vw;
    height: 4.9125vw;
}

h1.mobile-shop-info-block-2-item-1-text {
    margin-left: 2.97vw;
    font-weight: normal;
    font-size: 3.61vw;
    text-align: left;
}

div.mobile-shop-info-block-3-item-1 {
    display: flex;
    width: 44.4vw;
    height: auto;
}

div.mobile-shop-info-block-3-item-1-block {
    width: 100%;
    text-align: right;
    margin-right: 4.17vw;
}

button.mobile-shop-info-block-2-item-1-button {
    padding: 2.82vw 5.65vw;
    font-size: 3.61vw;
    background-color: hsl(165, 100%, 40%);
    border-radius: 0.55vw;
    color: var(--background);
    cursor: pointer;
}

button.mobile-shop-info-block-2-item-1-button:hover {
    background-color: hsl(165, 93%, 35%);
}

h1.mobile-shop-info-block-3-item-1-text {
    margin-left: 4.17vw;
    font-weight: normal;
    font-size: 5.14vw;
    text-align: right;
    color: var(--font-color);
}

button.p-b-n-b {
    margin: 4.17vw 0 0 5.56vw;
    width: 88.89vw;
    height: 17.22vw;
    font-weight: normal;
    font-size: 3.61vw;
    color: #69f;
    border: 0.14vw solid var(--border);
    cursor: pointer;
}

button.p-b-n-b:hover {
    color: #69f;
    background-color: var(--border);
}

/*  */

h1.characteristic {
    font-size: 4.7vw;
    font-weight: 600;
    padding-left: 5.6vw;
    margin-bottom: 8.3vw;
}

div.flex {
    display: flex;
    height: auto;
    margin: 0 0 9.5vw 5.5vw;
}

div.b-1-pic {
    position: relative;
    width: 14.3vw;
    height: 14.3vw;
}

img.b1-img {
    position: absolute;
    width: 14.3vw;
    height: 14.3vw;
    border-radius: 2.6vw;
}

h1.b1-t1 {
    font-size: 3.6vw;
    font-weight: 600;
    margin: 1.6vw 0 0 3.19vw;
    font-weight: 600;
}

h1.b1-t2 {
    font-size: 3.6vw;
    font-weight: 300;
    margin: 1.6vw 0 0 3.19vw;
    width: 57.08vw;
}

a.show-p-b {
    z-index: 3;
    margin-left: 2.56vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    background-color: var(--background-hover);
    cursor: pointer;
}

a.show-p-b-fixed {
    z-index: 300;
    margin-left: 2.56vw;
    position: fixed;
    top: 8.17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    background-color: var(--background-hover);
    cursor: pointer;
}

a.show-p-b:hover {
    background-color: var(--background-back);
}

a.show-p-b-fixed:hover {
    background-color: var(--background-back);
}

div.show-p-b-p {
    position: relative;
    width: 4vw;
    height: 5.3vw;
}

img.show-p-b-i {
    position: absolute;
    width: 4vw;
    height: 5.3vw;
}

div.show-product {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

div.show-product-2 {
    margin: 0 auto;
    width: 81.1vw;
    height: 81.1vw;
}

div.show-p-p {
    position: relative;
    width: 81.1vw;
    height: 81.1vw;
}

img.show-p-i {
    position: absolute;
    width: 81.1vw;
    height: 81.1vw;
    object-fit: cover;
}

div.show-p-i-b {
    width: 100%;
}

h1.show-p-i-b-h {
    font-weight: 600;
    font-size: 5.56vw;
    line-height: 8.3vw;
    text-align: left;
    margin: 6.94vw 0 0 5.56vw;
}

p.show-p-i-b-p {
    font-weight: normal;
    font-size: 3.61vw;
    line-height: 6.6vw;
    text-align: left;
    margin: 6.94vw 0 0 5.56vw;
}

div.show-p-i-b-f {
    margin: 6.94vw 0 12.08vw 5.56vw;
    display: flex;
}

button.show-button {
    padding: 2.92vw 6.53vw;
    background-color: #00CC99;
    border-radius: 0.56vw;
    font-size: 3.61vw;
    color: var(--background);
    font-weight: normal;
    cursor: pointer;
}

button.show-button:hover {
    background-color: #01b185;
}

div.show-f-p {
    position: relative;
    width: 5.92vw;
    height: 5.14vw;
    margin-right: 5vw;
}

img.show-f-i {
    position: absolute;
    width: 5.92vw;
    height: 5.14vw;
}

button.show-favourite {
    margin-left: 2.056vw;
    display: flex;
    align-items: center;
    font-size: 3.61vw;
    color: hsl(12, 91%, 57%);
    cursor: pointer;
    border-radius: 0.56vw;
    padding-right: 2.57vw;
}

button.show-favourite:hover {
    background-color: var(--background-hover);
}

h1.c-b-t {
    font-weight: 600;
    font-size: 4.72vw;
    text-align: left;
    color: var(--font-color);
    margin: 0 0 8.3vw 5.56vw;
}

h1.m-p-1 {
    font-weight: 600;
    font-size: 4.72vw;
    text-align: left;
    color: var(--font-color);
    margin: 8.3vw 0 0 5.56vw;
}

/* Basket */

div.main-block-your-basket {
    margin-top: 4.17vw;
    width: 100vw;
    height: auto;
    background-color: var(--background);
    border-radius: 4.16vw;
    padding: 8.33vw 0;
}

div.your-text-block-place {
    padding: 4.17vw 0 0 2.56vw;
}

div.main-of-main {
    margin-top: 4.16vw;
    width: 94vw;
    height: auto;
    border-radius: 0.55vw;
    border: 0.13vw solid var(--border);
}

div.block-one-img-and-glakso {
    display: flex;
    width: 100%;
    height: 36.9vw;
    background-color: var(--background);
    border-radius: 0.55vw;
}

div.img-and-glakso {
    width: 37.9vw;
    height: 36.9vw;
    background-color: var(--background);
    border-radius: 0.55vw;
}

div.img-and-place {
    padding: 1.38vw 0 0 1.38vw;
}

div.relative-and-absolute {
    position: absolute;
    width: 25.27vw;
    height: 25.27vw;
    margin: 0 3vw;
}

img.img-size {
    position: relative;
    width: 25.27vw;
    height: 25.27vw;
}

div.place-glakso {
    padding-top: 7.08vw;
}

h1.glakso-text-green {
    color: hsl(166, 75%, 48%);
    font-size: 3.6vw;
    font-weight: 600;
}

div.place-furak {
    margin-top: 2.36vw;
}

h1.furak-text {
    width: 56vw;
    font-size: 3.6vw;
    font-weight: 600;
}

div.leader-text {
    width: 56.94vw;
    height: 36.9vw;
    background-color: var(--background);
}

h1.id-text {
    font-size: 3.6vw;
    font-weight: normal;
    color: var(--font-color-c);
}

div.w {
    width: 100%;
    height: auto;
    background-color: var(--background);
    border-radius: 0.55vw;
}

div.we {
    display: flex;
    width: 100%;
    height: 20.27vw;
    background-color: var(--background);
}

div.place-scary-turn-off {
    width: auto;
    padding-left: 4.16vw;
}

div.scary-turn-off {
    display: flex;
    width: auto;
    height: 13.75vw;
    background-color: var(--background);
    border: 0.27vw solid var(--border);
    border-radius: 0.41vw;
}

button.button-minus {
    width: 11.25vw;
    height: 13.75vw;
    background-color: var(--background);
    border: none;
    font-size: 6.66vw;
    font-weight: normal;
    color: var(--font-color-c);
    cursor: pointer;
}

button.button-minus:hover {
    background-color: var(--background-hover);
}

div.one-block {
    margin: 0 3vw;
    width: auto;
    height: 13.75vw;
    background-color: var(--background);
}


h1.one {
    font-size: 3.75vw;
    font-weight: normal;
    padding-top: 4.3vw;
}

div.place-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 13.75vw;
    margin-right: 4.17vw;
}

h1.price {
    font-size: 5.1vw;
    font-weight: normal;
    color: var(--font-color);
}

div.grid {
    width:100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 14.58vw;
}

div.place-favorite {
    width: 100%;
}

div.del-from-favorite {
    width: 100%;
}

div.place-order {
    padding-top: 8.6vw;
}

h1.order-name {
    color: var(--font-color);
    font-size: 4.4vw;
    font-weight: 600;
}

h1.two-items {
    font-size: 3.47vw;
    font-weight: normal;
    color: var(--font-color);
}

div.size-block {
    display: flex;
    width: 94vw;
    height: 26.5vw;
    background-color: var(--background);
    margin-top: 0.13vw;
}

div.order-block {
    width: 37.7vw;
    height: 26.5vw;
    background-color: var(--background);
}

div.price-place-im-tired {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;

}

h1.money {
    font-size: 6.66vw;
    font-weight: 600;
}

button.pay-for-it {
    background-color: hsl(166, 75%, 48%);
    width: 94vw;
    height: 16.38vw;
    border-radius: 6px;
    border: none;
    color: var(--background);
    font-size: 3.8vw;
    font-weight: 600;
    cursor: pointer;
}

button.pay-for-it:hover {
    background-color: hsl(165, 99%, 35%);
}

button.favorite {
    width: 100%;
    height: 14.58vw;
    font-size: 3.6vw;
    font-weight: normal;
    color: hsl(165, 100%, 40%);
    background-color: var(--background);
    border: none;
    cursor: pointer;
}

button.favorite:hover {
    background-color: var(--background-back);
}

button.unfavorite {
    width: 100%;
    height: 14.58vw;
    font-size: 3.6vw;
    font-weight: normal;
    color: hsl(12, 91%, 57%);
    background-color: var(--background);
    border: none;
    cursor: pointer;
}

button.unfavorite:hover {
    background-color: var(--background-back);
}

/*  */

div.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--skeleton-start);
    }

    100% {
        background-color: var(--skeleton-end);
    }
}

div.b1-img {
    position: absolute;
    width: 14.3vw;
    height: 14.3vw;
    border-radius: 2.64vw;
}

div.b1-t1 {
    width: 56.53vw;
    height: 3.61vw;
    border-radius: 1.8vw;
    margin: 2.64vw 0 0 3.05vw;
}

div.b1-t2 {
    width: 50.42vw;
    height: 3.61vw;
    border-radius: 1.8vw;
    margin: 3.05vw 0 0 3.05vw;
}

div.show-p-i-b-h-loader {
    width: 69.4vw;
    height: 5.5vw;
    border-radius: 2.5vw;
    margin: 6.94vw 0 0 5.56vw;
}

img.show-button-loader {
    width: auto;
    height: 2.61vw;
}

div.show-p-i-b-p-loader-1 {
    width: 87.08vw;
    height: 3.6vw;
    border-radius: 1.8vw;
    margin: 8.19vw 0 0 5.56vw;
}

div.show-p-i-b-p-loader-2 {
    width: 69.4vw;
    height: 3.6vw;
    border-radius: 1.8vw;
    margin: 3.05vw 0 0 5.56vw;
}

div.show-p-i-b-p-loader-3 {
    margin: 7.64vw 0 0 5.56vw;
    width: 62.36vw;
    height: 3.61vw;
    border-radius: 1.8vw;
}

div.i-m-p {
    margin: 1.5625vw;
    position: relative;
    width: 6.8vw;
    height: 6.8vw;
}

div.i-m-i {
    position: absolute;
    width: 6.8vw;
    height: 6.8vw;
}

div.z-c {
    width: 13.36vw;
    height: 1.17vw;
    border-radius: 1.875vw;
}

div.p-t {
    margin-top: 1.17vw;
    width: 17.66vw;
    height: 1.17vw;
    border-radius: 1.875vw;
}

div.i-g-p {
    border-radius: 100%;
    width: 1.33vw;
    height: 1.33vw;
}

div.t-t {
    width: 10.08vw;
    height: 1.33vw;
    border-radius: 1.875vw;
}

div.h {
    width: 8.05vw;
    height: 1.48vw;
    border-radius: 0.78vw;
    margin: 1.56vw 1.56vw 0 0;
    float: right;
}

button.p-b-n-b {
    width: 46.6vw;
    height: 4.68vw;
    border: 0.08vw solid hsl(70, 19%, 94%);
    cursor: pointer;
}

div.mobile-shop-info-block-item-i-1-loader {
    width: 25.28vw;
    height: 25.28vw;
}

div.mobile-shop-info-block-item-title-loader {
    width: 43.75vw;
    height: 3.61vw;
    border-radius: 1.8vw;
}

div.mobile-shop-info-block-item-content-1-loader {
    width: 50.83vw;
    height: 3.61vw;
    border-radius: 1.8vw;
    margin-top: 4.4vw;
}

div.mobile-shop-info-block-item-content-2-loader {
    width: 37.92vw;
    height: 3.61vw;
    border-radius: 1.8vw;
    margin-top: 1.6vw;
}

div.mobile-shop-info-block-2-item-1-image-loader {
    width: 4.86vw;
    height: 4.86vw;
    border-radius: 100%;
}

div.mobile-shop-info-block-2-item-1-text-loader {
    margin: 0.69vw 0 0 2.97vw;
    width: 27.5vw;
    height: 3.61vw;
    border-radius: 13px;
}

div.mobile-shop-info-block-3-item-1-text-loader {
    margin-left: 4.17vw;
    width: 29.44vw;
    height: 5vw;
    border-radius: 2.5vw;
}

/* Login */

div.join-text-place {
    padding-top: 8.33vw;
    text-align: center;
}

h1.join-text {
    font-size: 5.5vw;
    font-weight: 600;
    color: var(--font-color);
}

div.main-four-blocks-place {
    width: 100%;
    margin-top: 16.7vw;
}

div.main-four-blocks {
    width: 100vw;
    height: 229.86vw;
    background-color: var(--background);
    border-radius: 2.08vw;
}

div.place-three-blocks {
    width: auto;
    height: auto;
    background-color: var(--background);
}

div.first-block-in {
    width: 57.63889vw;
    height: auto;
    background-color: var(--background);
    margin-left: 5.5vw;
}

h1.electron-addres {
    font-size: 4.16vw;
    font-weight: 700;
    color: var(--font-color);
}

div.place-input-in {
    margin-top: 0.83vw;
}

input.none-border {
    width: 88.88vw;
    height: 5.55vw;
    border: none;
    color: var(--font-color);
    font-size: 4.72vw;
    font-weight: 300;
    padding-bottom: 2.78vw;
    background-color: var(--background);
    border-bottom: 0.208vw solid hsl(0, 0%, 92%);
    margin: 5.55vw 0 8.33vw 0;
}

input.none-border:focus {
    font-size: 4.72vw;
    font-weight: 300;
    border-bottom: 0.208vw solid hsl(165, 100%, 40%);
    outline: none;
}

input.none-border::placeholder {
    color: hsl(0, 0%, 62%);
    font-size: 4.72vw;
    font-weight: 300;
}

div.place-button-in {
    padding-top: 1.94vw;
}

button.button-join-in {
    width: 88.88vw;
    height: 16.38vw;
    background-color: hsl(165, 100%, 40%);
    color: var(--background);
    border: none;
    border-radius: 0.69vw;
    font-size: 3.88vw;
    font-weight: 600;
    cursor: pointer;
}

button.button-join-in:hover {
    background-color: hsl(165, 99%, 35%);
}

div.second-block-in {
    display: flex;
    width: 100vw;
    height: auto;
    background-color: var(--background);
    margin-left: 5.5vw;
}

div.vertical-stick {

    margin-top: 13.88vw;
    width: 34.16vw;
    height: 0.833vw;
    border: none;
    border-radius: 0.694vw;
    background-color: var(--border);
}

div.place-or {
    margin: 0 5.138vw 0 5.138vw;
}

h1.or {
    font-size: 4.583vw;
    font-weight: 600;
    margin-top: 11.52vw;
}

/* */
div.third-block-in {
    margin-top: 11.1vw;
    width: 100vw;
    height: auto;
    background-color: var(--background);
    margin-left: 5.5vw;
}

div.place-google-apple-facebook {
    margin-top: 2.77vw;
}

button.google {
    width: 88.88vw;
    height: 15vw;
    border-radius: 0.694vw;
    background-color: var(--background);
    border: 0.208vw solid var(--border);
    cursor: pointer;
    font-size: 3.611vw;
    font-weight: 600;
    color: var(--font-color);
}

button.google:hover {
    background-color: var(--background-hover);
    transition: 10ms;
}

div.place-img-in-button {
    margin-left: 5.833vw;
    float: left;
}

img.img-in-button {
    width: auto;
    height: 5.555vw;
}

/* */

div.four-block-in {
    padding: 8.3vw 0;
    width: 100vw;
    height: auto;
    background-color: var(--background);
}

div.place-registration {
    text-align: center;
}

h1.regis-text {
    font-size: 3.88vw;
    font-weight: normal;
}

button.regis-green {
    color: hsl(165, 99%, 29%);
    border: none;
    background-color: var(--background);
    cursor: pointer;
}

div.place-secure-captcha {
    margin-top: 8.88vw;
}

h1.secure-captcha {
    font-size: 3.88vw;
    font-weight: 600;
    color: var(--font-color-c);
}

h1.secure-privacy {
    margin-top: 2.7vw;
    font-size: 3.88vw;
    font-weight: normal;
    color: var(--font-color-c);
}

button.regis-green {
    color: hsl(165, 99%, 29%);
    border: none;
    background-color: var(--background);
    cursor: pointer;
    font-size: 3.88vw;
}

/* Search */

div.block-search {
    position: absolute;
    display: block;
    width: 94.4vw;
    height: auto;
    background-color: var(--background);
    border-radius: 0 0 4.166vw 4.166vw;
    border: 0.138vw solid var(--border);
    z-index: 50;

}

a.flex-search {
    display: flex;
    cursor: pointer;
}

a.flex-search:hover {
    background-color: var(--background-hover);
}

div.flex-search {
    display: flex;
    cursor: pointer;
}

div.flex-search:hover {
    background-color: var(--background-hover);
}

div.block-picture-drugs {
    width: 22.47vw;
    height: 15.97vw;
    border-radius: 0 0 0 2.08vw;
}

div.place-drugs-picture {
    padding: 2.91vw 3.75vw;
}

div.picture-drugs-absolute {
    position: relative;
    width: 10.42vw;
    height: 10.42vw;
}

img.picture-drugs-relative {
    position: absolute;
    width: 10.42vw;
    height: 10.42vw;
    border-radius: 2.08vw;
}

div.block-drugs-text-in {
    width: 100%;
    height: 15.97vw;
}

div.place-name-drugs-in {
    padding-top: 2.64vw;
}

h1.name-drugs-in {
    font-size: 3.89vw;
    font-weight: normal;
}

div.place-middle-price-in {
    margin-top: 1.39vw;
}

h1.middle-price-in {
    font-size: 3.05vw;
    font-weight: normal;
}

div.find-for-request-block {
    width: 100%;
    height: 10.4vw;
    background-color: var(--background);
    border-radius: 0 0 4.16vw 4.16vw;
    cursor: pointer;
}

div.find-for-request-place-text {
    text-align: center;
    padding-top: 2.77vw;
}

h1.find-for-request-text {
    font-size: 3.6vw;
    font-weight: normal;
}

div.find-for-request-block:hover {
    background-color: var(--background-hover);
}

div.picture-drugs-block {
    width: 10.97vw;
    height: 10.97vw;
    border-radius: 2.08vw;
    background-color: grey;
}


div.name-drugs-in-block {
    margin-top:0.5vw;
    width: 43.75vw;
    height: 4.44vw;
    background-color: grey;
    border-radius: 2.08vw;
}


div.middle-price-in-block {
    width: 54vw;
    height: 4.44vw;
    background-color: grey;
    border-radius: 2.08vw;
}