* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.18125vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 81%);
    border-radius: 0.18125vw;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 33%);
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

html {
    overflow-y: scroll;
}

button {
    background-color: transparent;
    border: 0 none;
    font-family: 'Segoe UI', sans-serif;
}

body {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: hsl(0, 0%, 97%);
    overflow-x: hidden;
    padding-bottom: 30.1vw;
}

header.main-block-1 {
    width: 100vw;
    height: auto;
    background-color: white;
    border-radius: 0 0 4.17vw 4.17vw;
}

div.m-1 {
    display: flex;
    flex-direction: column;
}

div.main-block-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;
}

div.m-g-1 {
    flex: 1;
    padding: 8.33vw 5.6vw 8.33vw 5.6vw;
    height: auto;
    display: grid;
    grid-template-columns: 44.4vw 44.4vw;
}

div#first {
    order: 1;
}

div#second {
    margin-top: 8.3vw;
    order: 3;
}

div#third {
    order: 2;
}

div.m-f-1 {
    padding-top: 1.6vw;
    display: flex;
    align-items: center;
    height: 8.94vw;
}

div.m-f-i-1 {
    position: relative;
    width: 8.94vw;
    height: 8.94vw;
}

img.m-p-i-1 {
    position: absolute;
    width: 8.94vw;
    height: 8.94vw;
}

div.m-f-b {
    margin-left: 3.49vw;
}

div.m-f-b-1 {
    border-left: 0.14vw solid hsl(0, 0%, 81%);
    height: 6.23vw;
}

div.m-f-t {
    margin-left: 3.49vw;
}

h1.m-f-t-1 {
    font-size: 4.72vw;
    font-weight: 300;
}

div.m-s {
    position: relative;
    width: 88.9vw;
    height: 14.17vw;
}

input.m-s-1 {
    position: absolute;
    background: url("images/search.svg") 7.19vw 5.06vw no-repeat;
    background-size: 4.46vw auto;
    font-family: 'Segoe UI', sans-serif;
    padding: 4.86vw 4.86vw 4.86vw 15.56vw;
    width: 68.47vw;
    height: 4.45vw;
    background-color: hsl(0, 0%, 97%);
    border: 0 none;
    border-radius: 4.17vw;
    font-size: 3.33vw;
    font-weight: 300;
    color: #98999b;
}

input.m-s-1::placeholder {
    color: hsl(220, 1%, 60%);
    font-weight: normal;
}

input:not(:placeholder-shown) {
    background: url("images/search.svg") 6.69vw 4.66vw no-repeat;
    background-size: 4.46vw auto;
    width: 68.47vw;
    height: 3.65vw;
    padding: 4.86vw 4.86vw 4.86vw 15.16vw;
    background-color: white;
    border: 0.5vw solid hsl(12, 91%, 57%);
    outline: none;
    color: black;
}

input.m-s-1:focus {
    background: url("images/search-active.svg") 6.69vw 4.66vw no-repeat;
    background-size: 4.46vw auto;
    width: 68.47vw;
    height: 3.65vw;
    padding: 4.86vw 4.86vw 4.86vw 15.16vw;
    background-color: white;
    border: 0.5vw solid hsl(165, 100%, 40%);
    outline: none;
    color: black;
    font-weight: normal;
}


div.m-p-i {
    width: 100%;
}

div.m-p-i-b {
    height: 12.9vw;
    display: flex;
    float: right;
}

div.m-p-i-b-v {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6.48vw;
    padding: 1.6vw;
    cursor: pointer;
}

div.m-p-i-b-v:hover {
    border-radius: 20%;
    background-color: hsl(0, 0%, 99%);
}

div.m-p-i-b-v-i {
    position: relative;
    width: 4.3vw;
    height: 4.3vw;
}

img.m-p-i-b-v-p {
    position: absolute;
    width: 4.3vw;
    height: 4.3vw;
}

div.m-p-i-b-v-t {
    margin-top: 1.6vw;
}

h1.m-p-i-b-v-t-1 {
    font-size: 2.36vw;
    font-weight: 300;
}

div.menu-select {
    padding: 3.3vw 0 6.9vw 0;
    position: fixed;
    z-index: 800;
    width: 100vw;
    height: 14.2vw;
    display: flex;
    justify-content: center;
    background: white;
    bottom: 0;
    border-radius: 4.17vw 4.17vw 0 0;
}

a.menu-s-b {
    display: block;
    width: 20vw;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a.menu-s-b-active {
    display: block;
    width: 20vw;
    cursor: pointer;
    color: #0c9;
    text-decoration: none;
}

div.menu-s-b-i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.menu-s-b-i-i {
    position: relative;
    width: 5.39vw;
    height: 5.39vw;
}

img.menu-s-b-i-p {
    position: absolute;
    width: 5.39vw;
    height: 5.39vw;
}

div.menu-s-b-i-t {
    margin-top: 1.69vw;
}

h1.menu-s-b-i-t-1-active {
    font-size: 2.78vw;
    font-weight: normal;
}

h1.menu-s-b-i-t-1 {
    font-size: 2.78vw;
    font-weight: 300;
}

div.panel-select {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 23.8vw);
    padding: 0 2.2vw;
    padding-bottom: 11.94vw;
}

div.panel-s-b {
    width: 23.8vw;
    height: 27.09vw;
    border-radius: 4.17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 2.92vw;
}

div.panel-s-b:hover {
    background-color: hsl(0, 0%, 99%);
}

div.panel-s-b-i {
    position: relative;
    width: 13.3vw;
    height: 13.3vw;
}

img.panel-s-b-p {
    position: absolute;
    width: 13.3vw;
    height: 13.3vw;
    border-radius: 5.28vw;
}

div.panel-s-b-t {
    margin-top: 2.92vw;
}

h1.panel-s-b-t-1 {
    width: 20.7vw;
    font-size: 2.7vw;
    line-height: 4.17vw;
    text-align: center;
    font-weight: normal;
}

/*  */

div.m {
    margin-top: 4.2vw;
    width: 100vw;
    height: auto;
    border-radius: 4.2vw;
    background-color: hsl(0, 0%, 100%);
}

div.m-block {
    width: 100%;
    padding-top: 8.3vw;
}

h1.m-p {
    font-weight: 600;
    font-size: 5.56vw;
    text-align: center;
    color: hsl(0, 0%, 20%);
}

h1.m-p-content {
    margin-top: 1.39vw;
    font-weight: normal;
    font-size: 3.05vw;
    text-align: center;
    color: hsl(0, 0%, 20%);
}

div.b {
    display: grid;
    grid-template-columns: 50vw 50vw;
    padding: 8.3vw 0 5.75vw 0;
}

div.m-d-b {
    margin: 1.39vw;
}

a.m-p-b {
    display: block;
    text-decoration: none;
    width: 47.2vw;
    height: 78.83vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2.08vw;
    border: 0.14vw solid hsl(70, 19%, 94%);
    cursor: pointer;
}

a.m-p-b:hover {
    border: 0.14vw solid hsl(165, 100%, 40%);
}

div.m-i-1-1 {
    padding: 2.64vw;
    position: relative;
    width: 41.95vw;
    height: 41.95vw;
}

img.m-i {
    position: absolute;
    width: 41.95vw;
    height: 41.95vw;
    object-fit: cover;
}

div.m-t-p {
    margin: 3.36vw 2.64vw 0 2.64vw;
}

h1.m-t {
    height: 9.44vw;
    font-size: 3.33vw;
    line-height: 5vw;
    font-weight: normal;
}

div.l-t-p {
    margin-top: 2.65vw;
}

h1.l-t {
    font-size: 2.2vw;
    font-weight: 300;
    color: hsl(0, 0%, 68%);
}

div.m-l-p {
    width: 100%;
    display: flex;
    align-items: center;
}

h1.l-p {
    font-size: 3.3vw;
    font-weight: 600;
}

div.p-p {
    background-color: hsl(120, 100%, 97%);
    display: flex;
    align-items: center;
    width: 9.6vw;
    height: 9.6vw;
    border-radius: 100%;
    justify-content: center;
    margin-left: auto;
}

div.i-p-1 {
    position: relative;
    width: 4.3vw;
    height: 3.3vw;
}

img.p {
    position: absolute;
    width: 4.3vw;
    height: 3.3vw;
}

/*  */

div.maybe-panel {
    margin-top: 4.2vw;
    width: 100vw;
    background-color: white;
    height: auto;
    border-radius: 1.38vw;
    padding: 8.3vw 0;
}

div.maybe-g-p {
    margin-top: 8.3vw;
}

div.maybe-g-p-b {
    width: 97.2vw;
    margin: 2.78vw 1.39vw;
}

div.maybe-g-p-b1 {
    background-color: white;
    border: 0.13vw solid hsl(70, 19%, 94%);
    border-radius: 2.08vw;
    cursor: pointer;
}

div.maybe-g-p-b1:hover {
    border: 0.13vw solid hsl(165, 100%, 40%);
}

div.maybe-flex {
    display: flex;
}

div.maybe-flex-picture {
    position: relative;
    width: 43.19vw;
    height: 43.19vw;
    margin: 2.22vw;
}

img.maybe-flex-image {
    position: absolute;
    width: 43.19vw;
    height: 43.19vw;
    object-fit: cover;
}

div.maybe-flex-container {
    width: 49.58vw;
}

h1.b-t1 {
    font-size: 3.47vw;
    line-height: 5.56vw;
    height: 10.14vw;
    font-weight: normal;
    margin-top: 1.79vw;
    margin-left: 3.3vw;
}

h1.b-t2 {
    font-size: 2.36vw;
    font-weight: 300;
    margin: 3.3vw;
    color: #AEAEAE;
}

h1.b-t3 {
    font-size: 3.6vw;
    font-weight: 600;
    margin: 2.92vw 0 0 3.3vw;
}

div.b-p-p {
    background-color: hsl(120, 100%, 97%);
    display: flex;
    align-items: center;
    width: 11.39vw;
    height: 11.39vw;
    border-radius: 100%;
    justify-content: center;
    margin: 2.36vw 0 0 3.05vw;
}

/*  */

div.b-f-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.17vw;
    width: 100vw;
    height: 100vw;
    border-radius: 4.17vw;
    background-color: hsl(0, 0%, 100%);
}

div.o-b-f {
    width: 45vw;
    height: 30.5vw;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
}

h1.f-o-f {
    font-size: 26.1vw;
    font-weight: 600;
}

div.t-b-t {
    margin-top: 6vw;
    text-align: center;
}

div.p-t-n-h {
    height: 7.36vw;
}

h1.t-n-h {
    font-size: 6.25vw;
    font-weight: 600;
}

div.n-a-w-p {
    width: 86.52vw;
    height: 4.58vw;
}

h1.n-a-w {
    color: hsl(0, 0%, 77%);
    font-size: 3.88vw;
    font-weight: normal;
    margin-bottom: 7.2vw;
}


button.btn {
    padding: 4vw 6vw;
    font-size: 3.61vw;
    font-weight: 600;
    background-color: hsl(0, 0%, 97%);
    border: none;
    margin-top: 4.08vw;
    cursor: pointer;
    border-radius: 4.8vw;
}

button.btn:hover {
    background-color: hsl(165, 100%, 40%);
    color: white;
}

div.mobile-shop-info {
    margin-left: auto;
    margin-right: auto;
    width: 88.89vw;
    height: auto;
    border-radius: 0.56vw;
    background: #fff;
    border: 0.14vw solid #f1f2ec;
    margin-top: 4.17vw;
}

div.mobile-shop-info-block-1 {
    display: flex;
}

div.mobile-shop-info-block-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28.056vw;
    height: 28.056vw;
}

div.mobile-shop-info-block-item-p-1 {
    position: relative;
    width: 25.28vw;
    height: 25.28vw;
}

img.mobile-shop-info-block-item-i-1 {
    position: absolute;
    width: 25.28vw;
    height: 25.28vw;
}

div.mobile-shop-info-block-item-2 {
    position: relative;
    width: 60.83vw;
    height: 25.28vw;
    padding: 7.08vw 0 0 3.89vw;
}

h1.mobile-shop-info-block-item-title {
    width: 50.83vw;
    font-weight: 600;
    font-size: 3.61vw;
    text-align: left;
    color: hsl(0, 0%, 20%);
}

h1.mobile-shop-info-block-item-content {
    margin-top: 2.36vw;
    width: 50.83vw;
    font-weight: normal;
    font-size: 3.61vw;
    text-align: left;
    color: #333;
}

div.mobile-shop-info-block-2 {
    width: 100%;
    height: 14.72vw;
    display: flex;
    align-items: center;
}

div.mobile-shop-info-block-2-item-1 {
    display: flex;
    width: 44.4vw;
    height: 4.9125vw;
}

div.mobile-shop-info-block-2-item-1-picture {
    margin-left: 4.17vw;
    position: relative;
    width: 4.9125vw;
    height: 4.9125vw;
}

img.mobile-shop-info-block-2-item-1-image {
    position: absolute;
    width: 4.9125vw;
    height: 4.9125vw;
}

h1.mobile-shop-info-block-2-item-1-text {
    margin-left: 2.97vw;
    font-weight: normal;
    font-size: 3.61vw;
    text-align: left;
}

div.mobile-shop-info-block-3-item-1 {
    display: flex;
    width: 44.4vw;
    height: auto;
}

div.mobile-shop-info-block-3-item-1-block {
    width: 100%;
    text-align: right;
    margin-right: 4.17vw;
}

button.mobile-shop-info-block-2-item-1-button {
    padding: 2.82vw 5.65vw;
    font-size: 3.61vw;
    background-color: hsl(165, 100%, 40%);
    border-radius: 0.55vw;
    color: white;
    cursor: pointer;
}

button.mobile-shop-info-block-2-item-1-button:hover {
    background-color: hsl(165, 93%, 35%);
}

h1.mobile-shop-info-block-3-item-1-text {
    margin-left: 4.17vw;
    font-weight: normal;
    font-size: 5.14vw;
    text-align: right;
    color: hsl(0, 0%, 20%);
}

button.p-b-n-b {
    margin: 4.17vw 0 0 5.56vw;
    width: 88.89vw;
    height: 17.22vw;
    font-weight: normal;
    font-size: 3.61vw;
    color: #69f;
    border: 0.14vw solid hsl(70, 19%, 94%);
    cursor: pointer;
}

button.p-b-n-b:hover {
    color: #69f;
    background-color: hsl(70, 19%, 94%);
}

/*  */

h1.characteristic {
    font-size: 4.7vw;
    font-weight: 600;
    padding-left: 5.6vw;
    margin-bottom: 8.3vw;
}

div.flex {
    display: flex;
    height: auto;
    margin: 0 0 9.5vw 5.5vw;
}

div.b-1-pic {
    position: relative;
    width: 14.3vw;
    height: 14.3vw;
}

img.b1-img {
    position: absolute;
    width: 14.3vw;
    height: 14.3vw;
    border-radius: 2.6vw;
}

h1.b1-t1 {
    font-size: 3.6vw;
    font-weight: 600;
    margin: 1.6vw 0 0 3.19vw;
    font-weight: 600;
}

h1.b1-t2 {
    font-size: 3.6vw;
    font-weight: 300;
    margin: 1.6vw 0 0 3.19vw;
    width: 57.08vw;
}

a.show-p-b {
    margin-left: 5.56vw;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    border: 0.28vw solid #f1f2ec;
    background-color: white;
    cursor: pointer;
}

a.show-p-b:hover {
    border: 0.28vw solid #00CC99;
}

div.show-p-b-p {
    position: relative;
    width: 2vw;
    height: 3.3vw;
}

img.show-p-b-i {
    position: absolute;
    width: 2vw;
    height: 3.3vw;
}

div.show-product {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

div.show-product-2 {
    margin: 0 auto;
    width: 81.1vw;
    height: 81.1vw;
}

div.show-p-p {
    position: relative;
    width: 81.1vw;
    height: 81.1vw;
}

img.show-p-i {
    position: absolute;
    width: 81.1vw;
    height: 81.1vw;
    object-fit: cover;
}

div.show-p-i-b {
    width: 100%;
}

h1.show-p-i-b-h {
    font-weight: 600;
    font-size: 5.56vw;
    line-height: 8.3vw;
    text-align: left;
    margin: 6.94vw 0 0 5.56vw;
}

p.show-p-i-b-p {
    font-weight: normal;
    font-size: 3.61vw;
    line-height: 6.6vw;
    text-align: left;
    margin: 6.94vw 0 0 5.56vw;
}

div.show-p-i-b-f {
    margin: 6.94vw 0 12.08vw 5.56vw;
    display: flex;
}

button.show-button {
    padding: 2.92vw 6.53vw;
    background-color: #00CC99;
    border-radius: 0.56vw;
    font-size: 3.61vw;
    color: white;
    font-weight: normal;
    cursor: pointer;
}

button.show-button:hover {
    background-color: #01b185;
}

div.show-f-p {
    position: relative;
    width: 5.92vw;
    height: 5.14vw;
    margin-right: 5vw;
}

img.show-f-i {
    position: absolute;
    width: 5.92vw;
    height: 5.14vw;
}

button.show-favourite {
    margin-left: 2.056vw;
    display: flex;
    align-items: center;
    font-size: 3.61vw;
    color: hsl(12, 91%, 57%);
    cursor: pointer;
    border-radius: 0.56vw;
    padding-right: 2.57vw;
}

button.show-favourite:hover {
    background-color: hsl(0, 0%, 99%);
}

h1.c-b-t {
    font-weight: 600;
    font-size: 4.72vw;
    text-align: left;
    color: #333;
    margin: 0 0 8.3vw 5.56vw;
}

h1.m-p-1 {
    font-weight: 600;
    font-size: 4.72vw;
    text-align: left;
    color: #333;
    margin: 8.3vw 0 0 5.56vw;
}

/* Basket */

div.main-block-your-basket {
    margin-top:4.17vw;
    width: 100vw;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4.16vw;
    padding:8.33vw 0;
}

div.your-text-block-place {
    padding:4.17vw 0 0 5.55vw;
}

div.main-of-main {
    margin-top: 4.16vw;
    width: 88.88vw;
    height: auto;
    border-radius: 0.55vw;
    border: 0.13vw solid hsl(70, 19%, 94%);
}

div.block-one-img-and-glakso {
    display: flex;
    width: 88.88vw;
    height: 36.9vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.55vw;
}

div.img-and-glakso {
    width: 31.9vw;
    height: 36.9vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.55vw;
}

div.img-and-place {
    padding: 1.38vw 0 0 1.38vw;
}

div.relative-and-absolute {
    position: absolute;
    width: 25.27vw;
    height: 25.27vw;
}

img.img-size {
    position: relative;
    width: 25.27vw;
    height: 25.27vw;
}

div.place-glakso {
    padding-top: 7.08vw;
}

h1.glakso-text-green {
    color: hsl(166, 75%, 48%);
    font-size: 3.6vw;
    font-weight: 600;
}

div.place-furak {
    margin-top: 2.36vw;
}

h1.furak-text {
    width: 56vw;
    font-size: 3.6vw;
    font-weight: 600;
}

div.leader-text {
    width: 56.94vw;
    height: 36.9vw;
    background-color: hsl(0, 0%, 100%);
}

h1.id-text {
    font-size: 3.6vw;
    font-weight: normal;
    color: hsl(0, 0%, 73%);
}

div.w {
    width: 88.88vw;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.55vw;
}

div.we {
    display: flex;
    width: 88.88vw;
    height: 20.27vw;
    background-color: hsl(0, 0%, 100%);
}

div.place-scary-turn-off {
    padding-left: 4.16vw;
}

div.scary-turn-off {
    display: flex;
    width: auto;
    height: 13.75vw;
    background-color: hsl(0, 0%, 100%);
    border: 0.27vw solid hsl(70, 19%, 94%);
    border-radius: 0.41vw;
}

button.button-minus {
    width: 11.25vw;
    height: 13.75vw;
    background-color: hsl(0, 0%, 100%);
    border: none;
    font-size: 6.66vw;
    font-weight: normal;
    color: hsl(0, 0%, 72%);
}

div.one-block {
    width: auto;
    height: 13.75vw;
    background-color: hsl(0, 0%, 100%);
}


h1.one {
    font-size: 3.75vw;
    font-weight: normal;
    padding-top: 4.3vw;
}

div.place-price {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 13.75vw;
    margin-right: 4.17vw;
}

h1.price {
    font-size: 5.1vw;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
}

div.grid {
    display: grid;
    grid-template-columns: 44.4vw 44.4vw;
    height:14.58vw;
}

div.place-favorite {
    width: 43.6vw;
    padding-left: 4.16vw;
}

div.del-from-favorite {
    width: 43.6vw;
    margin-left: 6.25vw;
}

div.place-order {
    padding-top: 8.6vw;
}

h1.order-name {
    color: hsl(0, 0%, 20%);
    font-size: 4.4vw;
    font-weight: 600;
}

h1.two-items {
    font-size: 3.47vw;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
}

div.size-block {
    display: flex;
    width: 88.88vw;
    height: 26.5vw;
    background-color: hsl(0, 0%, 100%);
    margin-top: 0.13vw;
}

div.order-block {
    width: 37.7vw;
    height: 26.5vw;
    background-color: hsl(0, 0%, 100%);
}

div.price-place-im-tired {
    margin: 8.6vw 0 0 26.25vw;
}

h1.money {
    font-size: 6.66vw;
    font-weight: 600;
}

button.pay-for-it {
    background-color: hsl(166, 75%, 48%);
    width: 88.3vw;
    height: 16.38vw;
    border-radius: 6px;
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 3.8vw;
    font-weight: 600;
    cursor: pointer;
}

button.pay-for-it:hover {
    background-color: hsl(165, 99%, 35%);
}

button.favorite {
    font-size: 3.6vw;
    font-weight: normal;
    color: hsl(165, 100%, 40%);
    background-color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

button.unfavorite {
    font-size: 3.6vw;
    font-weight: normal;
    color: hsl(12, 91%, 57%);
    background-color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}