* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.18125vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 81%);
    border-radius: 0.18125vw;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 33%);
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: 0 none;
    font-family: 'Segoe UI', sans-serif;
}

body {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: hsl(0, 0%, 97%);
    overflow-x: hidden;
}

header.main-block-1 {
    width: 100vw;
    height: auto;
    background-color: white;
    border-radius: 0 0 4.17vw 4.17vw;
}

div.m-1 {
    display: flex;
    flex-direction: column;
}

div.main-block-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;
}

div.m-g-1 {
    flex: 1;
    padding: 6.8vw 5.6vw 0 5.6vw;
    height: auto;
    display: grid;
    grid-template-columns: 44.4vw 44.4vw;
}

div#first {
    order: 1;
}

div#second {
    margin: 7.3vw 0 5.4vw 0;
    order: 3;
}

div#third {
    order: 2;
}

div.m-f-1 {
    padding-top: 1.6vw;
    display: flex;
    align-items: center;
    height: 8.94vw;
}

div.m-f-i-1 {
    position: relative;
    width: 8.94vw;
    height: 8.94vw;
}

img.m-p-i-1 {
    position: absolute;
    width: 8.94vw;
    height: 8.94vw;
}

div.m-f-b {
    margin-left: 3.49vw;
}

div.m-f-b-1 {
    border-left: 0.14vw solid hsl(0, 0%, 81%);
    height: 6.23vw;
}

div.m-f-t {
    margin-left: 3.49vw;
}

h1.m-f-t-1 {
    font-size: 4.72vw;
    font-weight: 300;
}

div.m-s {
    position: relative;
    width: 88.9vw;
    height: 14.17vw;
}

input.m-s-1 {
    position: absolute;
    background: url("images/search.svg") 7.19vw 5.06vw no-repeat;
    background-size: 4.46vw auto;
    font-family: 'Segoe UI', sans-serif;
    padding: 4.86vw 4.86vw 4.86vw 15.56vw;
    width: 68.47vw;
    height: 4.45vw;
    background-color: hsl(0, 0%, 97%);
    border: 0 none;
    border-radius: 4.17vw;
    font-size: 3.33vw;
    font-weight: 300;
}

input.m-s-1::placeholder {
    color: hsl(220, 1%, 60%);
    font-weight: normal;
}

input:not(:placeholder-shown) {
    background: url("images/search.svg") 6.69vw 4.66vw no-repeat;
    background-size: 4.46vw auto;
    width: 68.47vw;
    height: 3.65vw;
    padding: 4.86vw 4.86vw 4.86vw 15.16vw;
    background-color: white;
    border: 0.5vw solid hsl(12, 91%, 57%);
    outline: none;
    color: black;
}

input.m-s-1:focus {
    background: url("images/search-active.svg") 6.69vw 4.66vw no-repeat;
    background-size: 4.46vw auto;
    width: 68.47vw;
    height: 3.65vw;
    padding: 4.86vw 4.86vw 4.86vw 15.16vw;
    background-color: white;
    border: 0.5vw solid hsl(165, 100%, 40%);
    outline: none;
    color: black;
    font-weight: normal;
}


div.m-p-i {
    width: 100%;
}

div.m-p-i-b {
    height: 12.9vw;
    display: flex;
    float: right;
}

div.m-p-i-b-v {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6.48vw;
    padding: 1.6vw;
    cursor: pointer;
}

div.m-p-i-b-v:hover {
    border-radius: 20%;
    background-color: hsl(0, 0%, 99%);
}

div.m-p-i-b-v-i {
    position: relative;
    width: 4.3vw;
    height: 4.3vw;
}

img.m-p-i-b-v-p {
    position: absolute;
    width: 4.3vw;
    height: 4.3vw;
}

div.m-p-i-b-v-t {
    margin-top: 1.6vw;
}

h1.m-p-i-b-v-t-1 {
    font-size: 2.36vw;
    font-weight: 300;
}

div.menu-select {
    padding: 3.3vw 0 6.9vw 0;
    position: fixed;
    z-index: 800;
    width: 100vw;
    height: 14.2vw;
    display: flex;
    justify-content: center;
    background: white;
    bottom: 0;
    border-radius: 4.17vw 4.17vw 0 0;
}

a.menu-s-b {
    display: block;
    width: 20vw;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a.menu-s-b-active {
    display: block;
    width: 20vw;
    cursor: pointer;
    color: #0c9;
    text-decoration: none;
}

div.menu-s-b-i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.menu-s-b-i-i {
    position: relative;
    width: 5.39vw;
    height: 5.39vw;
}

img.menu-s-b-i-p {
    position: absolute;
    width: 5.39vw;
    height: 5.39vw;
}

div.menu-s-b-i-t {
    margin-top: 1.69vw;
}

h1.menu-s-b-i-t-1-active {
    font-size: 2.78vw;
    font-weight: normal;
}

h1.menu-s-b-i-t-1 {
    font-size: 2.78vw;
    font-weight: 300;
}

div.panel-select {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 23.8vw);
    padding: 0 2.2vw;
    padding-bottom: 11.25vw;
}

div.panel-s-b {
    width: 23.8vw;
    height: 27.09vw;
    border-radius: 4.17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 2.92vw;
}

div.panel-s-b:hover {
    background-color: hsl(0, 0%, 99%);
}

div.panel-s-b-i {
    position: relative;
    width: 13.3vw;
    height: 13.3vw;
}

img.panel-s-b-p {
    position: absolute;
    width: 13.3vw;
    height: 13.3vw;
    border-radius: 5.28vw;
}

div.panel-s-b-t {
    margin-top: 2.92vw;
}

h1.panel-s-b-t-1 {
    width: 17.7vw;
    font-size: 2.7vw;
    line-height: 4.17vw;
    text-align: center;
    font-weight: normal;
}

/*  */

div.m {
    margin-top: 4.2vw;
    width: 100vw;
    height: auto;
    border-radius: 4.2vw;
    background-color: hsl(0, 0%, 100%);
}

div.m-block {
    width: 100%;
    padding-top: 8.4vw;
}

h1.m-p {
    padding-left: 5.625vw;
    font-size: 4.7vw;
    font-weight: normal;
}

div.b {
    margin-left: 2.97vw;
    display: grid;
    grid-template-columns: 47vw 47vw;
    padding: 5.65vw 0 5.75vw 0;
}

div.m-d-b {
    margin: 2.65vw;
}

a.m-p-b {
    display: block;
    text-decoration: none;
    width: 41.7vw;
    height: 65.3vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2.08vw;
    border: 0.14vw solid hsl(70, 19%, 94%);
    cursor: pointer;
}

a.m-p-b:hover {
    border: 0.14vw solid hsl(165, 100%, 40%);
}

div.m-i-1-1 {
    padding: 1.5vw;
    position: relative;
    width: 37.08vw;
    height: 37.08vw;
}

img.m-i {
    position: absolute;
    width: 37.08vw;
    height: 37.08vw;
}

div.m-t-p {
    margin: 2.97vw 2.3vw 0 2.3vw;
}

h1.m-t {
    font-size: 3.1vw;
    font-weight: normal;
}

div.l-t-p {
    margin-top: 1.39vw;
}

h1.l-t {
    font-size: 2.2vw;
    font-weight: 300;
    color: hsl(0, 0%, 68%);
}

div.m-l-p {
    width: 100%;
    display: flex;
    align-items: center;
}

h1.l-p {
    font-size: 3.1vw;
    font-weight: 600;
}

div.p-p {
    background-color: hsl(120, 100%, 97%);
    display: flex;
    align-items: center;
    width: 8.475vw;
    height: 8.475vw;
    border-radius: 100vw;
    justify-content: center;
    margin-left: auto;
}

div.i-p-1 {
    position: relative;
    width: 3.8vw;
    height: 2.9vw;
}

img.p {
    position: absolute;
    width: 3.8vw;
    height: 2.9vw;
}

/*  */

div.maybe-panel {
    margin-top:4.2vw;
    width: 100vw;
    background-color: white;
    height: auto;
    border-radius: 1.38vw;
    padding-bottom: 40vw;
}

div.maybe-g-p-b {
    margin: 5.625vw 0 0 5.55vw;
    display: grid;
    grid-template-columns:88.9vw;
}
div.maybe-g-p-b1 {
    background-color: white;
    margin: 2.8vw 0;
    border:0.13vw solid hsl(70, 19%, 94%);
    border-radius: 2.08vw;
    cursor: pointer;
}

div.maybe-g-p-b1:hover {
    border:0.13vw solid hsl(165, 100%, 40%);
}

div.maybe-flex {
    display: flex;
}

h1.maybe {
    font-size: 4.7vw;
    font-weight: normal;
    padding: 8.4vw 0 0 5.625vw;
}

img.image {
    width: 39.4vw;
    height: 39.4vw;
    margin: 2.08vw;
}

h1.b-t1 {
    font-size: 3.3vw;
    font-weight: normal;
    margin-top: 1.79vw;
    margin-left: 3.3vw;
}

h1.b-t2 {
    font-size: 2.2vw;
    font-weight: 100;
    margin: 3.3vw;
    color: #AEAEAE;
}

h1.b-t3 {
    font-size: 3.3vw;
    font-weight: 600;
    margin: 2.91vw 0 0 3.3vw;
}

div.b-p-p {
    background-color: hsl(120, 100%, 97%);
    display: flex;
    align-items: center;
    width: 8.475vw;
    height: 8.475vw;
    border-radius: 100vw;
    justify-content: center;
    margin:2.36vw 0 0 3.05vw;
}